<template>
    <div class="profile-actions">
        <div class="profile-actions__inner">
            <v-btn
                class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default profile-actions__message"
            >
                <span>написать</span>
            </v-btn>
            <v-btn class="profile-action">
                <img class="profile-action__image" src="~@/assets/images/profile/icons/profile-actions-like-icon.png" alt="Like">
            </v-btn>
            <v-btn class="profile-action">
                <img class="profile-action__image" src="~@/assets/images/profile/icons/profile-actions-wink-icon.png" alt="Wink">
            </v-btn>
            <v-btn class="profile-action">
                <img class="profile-action__image" src="~@/assets/images/profile/icons/profile-actions-present-icon.png" alt="Present">
            </v-btn>
            <v-btn class="profile-action">
                <img class="profile-action__image" src="~@/assets/images/profile/icons/profile-actions-video-icon.png" alt="Present">
            </v-btn>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

        };
    },
    props: {

    },
    computed: {

    },
    methods: {

    },
};
</script>


<style lang="scss">
.profile-actions {
    margin-top: 25px;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        margin-top: 0;
    } /* ... - 757 */
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding-left: 25px;
            padding-right: 25px;
            background-color: #4cc5f8;
        } /* ... - 757 */
    }
    &__message.v-btn--main--large:not(.v-btn--round).v-size--default {
        width: 100%;
        max-width: none;
        margin-bottom: 25px;
        font-size: 28px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 10px;
            font-size: 18px;
        } /* ... - 757 */
    }
    .profile-action {
        &.v-btn:not(.v-btn--round).v-size--default {
            height: auto;
            max-width: 25%;
            padding: 0;
            background-color: transparent;
            box-shadow: none;
            &:last-child {
                margin-right: 0;
            }
            &:before {
                content: none;
            }
            .v-btn__content {
                max-width: 100%;
            }
        }
        &__image {
            max-width: 100%;
            height: auto;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                max-width: 62px;
                font-size: 18px;
            } /* ... - 757 */
        }
    }
}
</style>
