<template>
    <div class="profile-vip-notify">
        <v-tooltip
            bottom
            :open-on-click="false"
            :open-on-hover="false"
            :open-on-focus="false"
            :value="displayVipNotify"
            content-class="profile-vip-notify__tooltip"
        >
            <template v-slot:activator="{ on, attrs }">
                <v-btn
                    class="profile-vip-notify__button"
                    outlined
                    color="#008ddc"
                    v-bind="attrs"
                    v-on="on"
                    v-click-outside="hideVipNotify"
                    @click="displayVipNotify = !displayVipNotify"
                >
                    VIP
                </v-btn>
            </template>
            <p class="profile-vip-notify__tooltip-inner">
                Ваш VIP СТАТУС действителен еще 7 дней, для продления пройдите по ссылке:
                <br><br>
                <a href="#">Продлить подписку</a>
            </p>
        </v-tooltip>
        <p class="profile-vip-notify__notify">Осталось контактов: 2</p>
    </div>
</template>

<script>
export default {
    data() {
        return {
            displayVipNotify: false,
        };
    },
    props: {

    },
    computed: {
    },
    methods: {
        hideVipNotify(e) {
            if (!e.target.closest('.profile-vip-notify__button')) {
                this.displayVipNotify = false;
            }
        },
    },
};
</script>

<style lang="scss" scoped>
.profile-vip-notify {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 25px;
    /* ... - 1013 */
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
        margin-right: 15px;
    } /* ... - 1013 */
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        justify-content: center;
        padding: 15px 25px;
        margin-left: auto;
        margin-right: auto;
    } /* ... - 757 */
    &__button.v-btn:not(.v-btn--round).v-size--default {
        flex-shrink: 1;
        min-width: 180px;
        min-height: 58px;
        border-width: 2px;
        font-family: "Benzin";
        font-size: 16px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            min-width: 100px;
        } /* ... - 1013 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            min-width: 160px;
        } /* ... - 757 */
    }
    &__notify {
        display: inline-block;
        min-width: 110px;
        margin-left: 23px;
        margin-bottom: 0 !important;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.2;
        /* ... - 1679 */
        @media (max-width: 1679px) {
            font-size: 14px;
        } /* ... - 1679 */
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            margin-left: 15px;
        } /* ... - 1013 */
    }
    &__tooltip {
        max-width: 400px;
        padding: 20px;
        border-radius: 4px;
        background-color: #ffffff;
        font-size: 18px;
        pointer-events: auto;
        box-shadow: 3px 3px 13px rgba(64, 64, 64, 0.2);
        &-inner {
            margin-bottom: 0 !important;
            color: #271f3b;
        }
        &--desktop {
            display: block;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                display: none;
            } /* ... - 757 */
        }
        &--mobile {
            display: none;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                display: block;
            } /* ... - 757 */
        }
    }
}
</style>
