/* about */
.hero-about {
    position: relative;
    background-color: #edf0fa;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-about--for-men {
    background-image: url("~@/assets/images/about/bg/for-men-bg.jpg");
}
.hero-about--for-women {
    background-image: url("~@/assets/images/about/bg/for-women-bg.jpg");
}
.about__container {
    padding: 56px 0 135px;
}
.about__info,
.about__title,
.about__title strong .about__title-dash {
    color: #343434;
}
.about__info {
    max-width: 55%;
    padding-top: 150px;
}
.about__title {
    position: relative;
    line-height: 1.4;
    font-size: 52px;
}
.about__title::before {
    position: absolute;
    right: 104%;
    top: 54px;
    width: 100%;
    height: 2px;
    background-color: #1f1733;
    content: "";
}
.about__title strong {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: normal;
    color: var(--v-primary-base);
}
.about__title-no-wrap {
    white-space: nowrap;
}
.about__title em {
    /* display: block; */
    min-height: 70px;
    padding-right: 85px;
    background: url("~@/assets/images/logo-pic-only.png") no-repeat right bottom;
    background-size: auto 67px;
    font-style: normal;
}
.about__text {
    margin: 35px 0 0 0;
    line-height: 2.7;
    font-size: 22px;
    font-weight: 600;
}
.about__text strong {
    text-transform: uppercase;
}
.about__text-btn-group {
    margin-top: 50px;
}

/* our parties */
.about-our-parties {
    background-color: #ffffff;
}
.about__our-parties {
    padding-top: 95px;
    text-align: center;
    color: #343434;
}
.about__our-parties-title {
    margin-bottom: 70px;
    text-transform: uppercase;
    font-size: 45px;
    color: #343434;
}
.about__our-parties-title strong {
    color: var(--v-primary-base);
}
.about__our-parties-col:first-child {
    padding-right: 80px;
}
.about__our-parties-col:last-child {
    padding-left: 80px;
}
.about__our-parties-item {
    margin-bottom: 40px;
    line-height: 2;
    font-size: 21px;
    font-weight: 600;
}
.about__our-parties-item:last-child {
    margin-bottom: 0;
}
.about__our-parties-item::before,
.about__our-parties-feature-inner::before {
    display: block;
    width: 65px;
    height: 55px;
    margin: 0 auto 10px;
    background: url("~@/assets/images/about/icons/icons.png") no-repeat center 0;
    background-size: 65px auto;
    content: "";
}
.about__our-parties-item--fun::before {
    background-position: center -55px;
}
.about__our-parties-item--security::before {
    background-position: center -110px;
}
.about__our-parties-item--format--women::before {
    background-position: center -165px;
}
.about__our-parties-item--features::before {
    display: none;
}
.about__our-parties-item--features {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.about__our-parties-feature {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 34%;
    padding: 6px 10px 43px;
    margin: 0 4%;
    border: 2px solid var(--v-primary-base);
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
}
.about__our-parties-feature-inner::before {
    margin-bottom: 5px;
}
.about__our-parties-feature--bar .about__our-parties-feature-inner::before {
    background-position: center -220px;
}
.about__our-parties-feature--cocktails .about__our-parties-feature-inner::before {
    /* background-size: 130px auto;
    background-position: center -464px; */
    background-position: center -275px;
}
.about__our-parties-feature--cocktails--women .about__our-parties-feature-inner::before {
    background-position: center -330px;
}
.about__our-parties-feature--cocktails .about__our-parties-feature-inner p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__our-parties-feature-cocktails-num {
    line-height: 0.9;
    font-size: 55px;
}
.about__our-parties-feature-cocktails-text {
    margin-left: 10px;
    text-align: left;
}

/* gallery */
.about__gallery-title-wrapper {
    padding: 70px 35px;
    background-color: var(--v-primary-base);
}
.about__gallery-title {
    text-align: center;
    font-family: "Gilroy";
    font-size: 22px;
    font-weight: 400;
    color: #fff;
}
.about__gallery-title strong {
    font-weight: 600;
}
.about__gallery-wrapper {
    position: relative;
    height: 0;
    padding-top: 36.45%;
}
.about__gallery-carousel-wrapper {
    position: absolute;
    left: 26%;
    top: 0;
    width: 48%;
    height: 100%;
}
.about__gallery-carousel .v-window__prev,
.about__gallery-carousel .v-window__next,
.about__gallery-carousel .v-window__prev .v-ripple__animation,
.about__gallery-carousel .v-window__next .v-ripple__animation {
    border-radius: 4px;
}
.about__gallery-carousel .v-window__prev,
.about__gallery-carousel .v-window__next {
    background: none;
}
.about__gallery-carousel .v-btn--icon.v-size--default {
    width: 54px;
    height: 54px;
}
.about__gallery-carousel .v-window__prev .v-btn__content,
.about__gallery-carousel .v-window__next .v-btn__content {
    display: none;
}
.about__gallery-carousel .v-window__prev .v-btn,
.about__gallery-carousel .v-window__next .v-btn {
    background: url("~@/assets/images/about/icons/icons.png") no-repeat center -440px;
    background-size: 65px auto;
}
.about__gallery-carousel .v-window__next .v-btn {
    background-position: center -495px;
}
.about__gallery-pics {
    position: absolute;
    left: 0;
    top: 0;
    width: 26%;
    height: 100%;
    padding-right: 5px;
}
.about__gallery-pics--right {
    left: auto;
    right: 0;
    padding-left: 5px;
    padding-right: 0;
}
.about__gallery-pics-item {
    height: 33.333333%;
}
.about__gallery-pics-item:not(:last-child) {
    padding-bottom: 5px;
}
.about__gallery-pics-item .v-image {
    width: 100%;
    height: 100%;
}



/* media queries */

/* ... - 1799 */
@media #{map-get($display-breakpoints, 'lg-and-down')} {

    .about__container {
        padding: 40px 0 100px;
    }

    .about__info {
        //min-height: 702px;
    }
    .about__title {
        font-size: 46px;
    }
    .about__title strong {
        font-size: 62px;
    }
    .about__title em {
        background-size: auto 62px;
    }
    .about__title::before {
        top: 50px;
    }
    .about__text {
        line-height: 2.4;
        font-size: 20px;
    }

} /* ... - 1799 */



/* ... - 1679 */
@media (max-width: 1679px) {

    .about__container {
        padding: 20px 0 90px;
    }

    .about__info {
        //min-height: 630px;
    }
    .about__title {
        font-size: 38px;
    }
    .about__title strong {
        font-size: 56px;
    }
    .about__title em {
        padding-right: 50px;
        background-size: auto 40px;
    }
    .about__text {
        line-height: 2;
        font-size: 18px;
    }

    .about__our-parties {
        padding-top: 65px;
    }
    .about__our-parties-title {
        margin-bottom: 50px;
        font-size: 42px;
    }
    .about__our-parties-col:first-child {
        padding-right: 50px;
    }
    .about__our-parties-col:last-child {
        padding-left: 50px;
    }
    .about__our-parties-item {
        line-height: 1.8;
    }
    .about__our-parties-feature {
        width: 38%;
        font-size: 18px;
    }
    .about__our-parties-feature-cocktails-num {
        line-height: 0.8;
        font-size: 48px;
    }

    .about__gallery-title {
        font-size: 20px;
    }

} /* ... - 1679 */

/* ... - 1279 */
@media #{map-get($display-breakpoints, 'md-and-down')} {
    .hero-about .about__container {
        padding-bottom: 30px;
    }
    .about__title {
        font-size: 30px;
        strong {
            margin-bottom: 0;
            font-size: 30px;
        }
    }
} /* ... - 1279 */

/* ... - 1013 */
@media #{map-get($display-breakpoints, 'sm-and-down')} {
    .about__info {
        padding-top: 30px;
    }
    .about__title {
        font-size: 26px;
        strong {
            margin-bottom: 0;
            font-size: 26px;
        }
    }
    .about__text {
        margin-top: 30px;
    }
    .about__text-btn-group {
        margin-top: 10px;
    }
    .about__our-parties-title {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 1.5;
    }
    .about__our-parties-item--features {
        flex-direction: column;
    }
    .about__our-parties-feature {
        width: 100%;
        max-width: 235px;
        margin: 0 auto 15px;
        padding-bottom: 15px;
    }
    .about__gallery-title-wrapper {
        padding-top: 45px;
        padding-bottom: 45px;
    }
} /* ... - 1013 */

/* ... - 757 */
@media #{map-get($display-breakpoints, 'xs-only')} {
    .hero-about--for-men {
        background-image: none;
    }
    .about-our-parties {
        background: linear-gradient(180deg, #ebeef9 0%, #ffffff 10%);
        .about__container {
            padding-bottom: 40px;
        }
    }
    .about__info {
        max-width: none;
    }
    .about__title {
        font-size: 30px;
        text-align: center;
        em {
            background: none;
            padding-right: 0;
        }
        strong {
            font-size: 30px;
        }
    }
    .about__text {
        text-align: center;
    }
    .about__text-btn-group {
        .v-btn {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .hero-about--for-men {
        padding-bottom: 100%;
        background-image: url("~@/assets/images/about/bg/for-men-bg--mobile.png");
        background-position: 100% bottom;
        background-size: 100%;
    }
    .hero-about--for-women {
        padding-bottom: 100%;
        background-image: url("~@/assets/images/about/bg/for-woman-bg--mobile.png");
        background-position: 100% bottom;
        background-size: 100%;
    }
    .about__our-parties-col:first-child,
    .about__our-parties-col:last-child {
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .about__our-parties {
        padding-top: 35px;
    }
    .about__our-parties-feature {
        margin-top: 15px;
        padding-bottom: 43px;
    }
    .about__gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .about__gallery-wrapper {
        position: static;
        max-width: 100%;
        height: auto;
        padding-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .about__gallery-title {
        font-size: 18px;
        line-height: 2;
    }
    .about__gallery-carousel-wrapper {
        position: static;
        width: 100%;
        height: auto;
    }
    .about__gallery-pics {
        position: static;
        width: 50%;
        height: auto;
        padding: 0;
    }
    .about__gallery-pics-item {
        height: 50%;
        padding-bottom: 0 !important;
        &:nth-child(n+3) {
            display: none;
        }
    }
} /* ... - 757 */
