.text-page {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: #2b396d;
    /* ... - 1013 */
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
        font-size: 16px;
    } /* ... - 1013 */
    &__inner {
        padding-bottom: 60px;
    }
    &__container {
        max-width: 1470px;
    }
    &__hyphenation {
        display: none;
        + br {
            display: none;
        }
        @media(max-width: 470px) {
            display: inline-block;
            + br {
                display: block;
            }

        }
    }
    h1 {
        margin-top: 90px;
        margin-bottom: 90px;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        color: #1f1733;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            font-size: 24px;
        } /* ... - 1013 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-top: 20px;
            margin-bottom: 30px;
        } /* ... - 757 */
    }
    h2 {
        margin-bottom: 30px;
        padding-top: 40px;
        font-family: "Gilroy";
        font-size: 20px;
        font-weight: 900;
        color: #2b396d;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            font-size: 18px;
        } /* ... - 1013 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding-top: 20px;
        } /* ... - 757 */
    }
    p {
        margin-bottom: 30px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            line-height: 26px;
        } /* ... - 1013 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 25px;
        } /* ... - 757 */
    }
    ul {
        margin-bottom: 30px;
        padding-left: 0;
        list-style: none;
        li {
            position: relative;
            text-indent: 45px;
            &:after {
                content: '';
                position: absolute;
                top: 10px;
                left: 20px;
                display: block;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: #0078ff;
            }
            & > ul {
                padding-left: 20px;
            }
        }
    }
    a {
        color: #0078ff;
    }
    time {
        display: inline-flex;
        align-items: center;
        padding-left: 5px;
        &:before {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            margin-right: 10px;
            background-image: url("~@/assets/images/text-pages/icons/page-text-clock-icon.png");
        }
    }
}

.page__inner--text {
    ::v-deep .header {
        z-index: 1000;
        background-color: #ffffff;
        &__login-link {
            font-weight: 900;
            color: #251d39;
            filter: none;
            &:after {
                background-position: 0 -18px;
                transform: rotate(180deg) translateY(50%);
                /* ... - 1279 */
                @media #{map-get($display-breakpoints, 'md-and-down')} {
                    background-position: 0 -15px;
                } /* ... - 1279 */
            }
        }
    }
    ::v-deep .profile-footer-desktop {
        display: block !important;
        background-color: #fbfbfb;
    }
    ::v-deep .profile-footer-mobile {
        display: none !important;
    }
}
