<template>
    <div class="vip-slider">
        <div class="vip-slider__inner">
            <v-slide-group class="vip-slider__items">
                <vip-slider-item
                    v-for="(item, index) in items"
                    :key="index"
                    :item="item"
                />
            </v-slide-group>
        </div>
    </div>
</template>

<script>
import VipSliderItem from '@/components/search/vip-slider/VipSliderItem.vue';

export default {
    components: {
        VipSliderItem,
    },
    props: {
        items: Array,
    },
};
</script>
<style lang="scss" scoped>
    .vip-slider {
        margin: 30px -10px 40px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin: 0 0 15px;
        } /* ... - 757 */
        ::v-deep.v-slide-group__content {
            padding-top: 10px;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                padding: 5px 20px;
            } /* ... - 757 */
        }
        ::v-deep.v-slide-group__prev, ::v-deep.v-slide-group__next {
            display: none;
        }
    }

</style>
