<template>
    <div class="search-filter">
        <div class="search-filter__inner">
            <div class="search-filter__main">
                <v-radio-group
                    class="search-filter__main-filter"
                    v-model="params.mainFilter"
                    hide-details
                    @change="applyParams"
                >
                    <v-radio
                        label="Все"
                        value="everything"
                        class="search-filter-radiobutton"
                    ></v-radio>
                    <v-radio
                        label="Новые"
                        value="new"
                        class="search-filter-radiobutton"
                    ></v-radio>
                    <v-radio
                        label="Онлайн"
                        value="online"
                        class="search-filter-radiobutton"
                    ></v-radio>
                </v-radio-group>
            </div>
            <v-btn
                class="search-filter-button-params"
                :class="{'search-filter-button-params--open' : openParams}"
                @click="openParams = !openParams"
            >
                <img
                    class="search-filter-button-params__icon"
                    src="~@/assets/images/search/icons/search-filter-button-icon.png"
                    alt=""
                >
                <span class="search-filter-button-params__text">Поиск</span>
            </v-btn>
            <v-expand-transition>
                <div class="search-filter__params" v-show="openParams">
                    <div class="justify-space-between search-filter__row search-filter__row--border-bottom">
                        <v-text-field
                            class="search-filter-text-field mr-md-10"
                            label="Город проживания:"
                            hide-details
                        ></v-text-field>
                        <v-range-slider
                            class="search-filter-range"
                            label="Возраст:"
                            v-model="params.ageRange"
                            hide-details
                            max="90"
                            min="18"
                        >
                            <template v-slot:thumb-label="props">
                                {{ props.value }} лет
                            </template>
                        </v-range-slider>
                    </div>

                    <div class="justify-space-between search-filter__row pb-0">
                        <p class="search-filter__label">Цель знакомства:</p>
                        <v-checkbox
                            class="search-filter-checkbox"
                            v-model="params.purposeOfDating"
                            value="online"
                            hide-details
                        >
                            <template v-slot:label>
                                <img
                                    src="@/assets/images/search/icons/search-filter-purpose-of-dating-online-icon.png"
                                    alt="online"
                                    class="search-filter-checkbox__icon"
                                />
                                <img
                                    src="@/assets/images/search/icons/search-filter-purpose-of-dating-online-selected-icon.png"
                                    alt="online"
                                    class="search-filter-checkbox__icon search-filter-checkbox__icon--selected"
                                />
                            </template>
                        </v-checkbox>
                        <v-checkbox
                            class="search-filter-checkbox"
                            v-model="params.purposeOfDating"
                            value="escort"
                            hide-details
                        >
                            <template v-slot:label>
                                <img
                                    src="@/assets/images/search/icons/search-filter-purpose-of-dating-escort-icon.png"
                                    alt="escort"
                                    class="search-filter-checkbox__icon"
                                />
                                <img
                                    src="@/assets/images/search/icons/search-filter-purpose-of-dating-escort-selected-icon.png"
                                    alt="escort"
                                    class="search-filter-checkbox__icon search-filter-checkbox__icon--selected"
                                />
                            </template>
                        </v-checkbox>
                        <v-checkbox
                            class="search-filter-checkbox"
                            v-model="params.purposeOfDating"
                            value="kept-woman"
                            hide-details
                        >
                            <template v-slot:label>
                                <img
                                    src="@/assets/images/search/icons/search-filter-purpose-of-dating-kept-woman-icon.png"
                                    alt="kept woman"
                                    class="search-filter-checkbox__icon"
                                />
                                <img
                                    src="@/assets/images/search/icons/search-filter-purpose-of-dating-kept-woman-selected-icon.png"
                                    alt="kept woman"
                                    class="search-filter-checkbox__icon search-filter-checkbox__icon--selected"
                                />
                            </template>
                        </v-checkbox>
                        <v-checkbox
                            class="search-filter-checkbox"
                            v-model="params.purposeOfDating"
                            value="relationship"
                            hide-details
                        >
                            <template v-slot:label>
                                <img
                                    src="@/assets/images/search/icons/search-filter-purpose-of-dating-relationship-icon.png"
                                    alt="relationship"
                                    class="search-filter-checkbox__icon"
                                />
                                <img
                                    src="@/assets/images/search/icons/search-filter-purpose-of-dating-relationship-selected-icon.png"
                                    alt="relationship"
                                    class="search-filter-checkbox__icon search-filter-checkbox__icon--selected"
                                />
                            </template>
                        </v-checkbox>
                        <v-checkbox
                            class="search-filter-checkbox"
                            v-model="params.purposeOfDating"
                            value="lgbt"
                            hide-details
                        >
                            <template v-slot:label>
                                <img
                                    src="@/assets/images/search/icons/search-filter-purpose-of-dating-lgbt-icon.png"
                                    alt="lgbt"
                                    class="search-filter-checkbox__icon"
                                />
                                <img
                                    src="@/assets/images/search/icons/search-filter-purpose-of-dating-lgbt-selected-icon.png"
                                    alt="lgbt"
                                    class="search-filter-checkbox__icon search-filter-checkbox__icon--selected"
                                />
                            </template>
                        </v-checkbox>
                    </div>

                    <div class="search-filter__row">
                        <v-range-slider
                            class="search-filter-range search-filter-range--wrap search-filter--w30"
                            label="Рост:"
                            v-model="params.height"
                            hide-details
                            min="140"
                            max="200"
                        >
                            <template v-slot:thumb-label="props">
                                {{ props.value }} см
                            </template>
                        </v-range-slider>
                        <v-range-slider
                            class="search-filter-range search-filter-range--wrap search-filter--w30"
                            label="Вес:"
                            v-model="params.weight"
                            hide-details
                            min="40"
                            max="160"
                        >
                            <template v-slot:thumb-label="props">
                                {{ props.value }} кг
                            </template>
                        </v-range-slider>
                        <v-range-slider
                            class="search-filter-range search-filter-range--wrap search-filter--w30"
                            label="Размер груди:"
                            v-model="params.breastSizes"
                            hide-details
                            value="breastSizes"
                            min="0"
                            max="4"
                        >
                            <template v-slot:thumb-label="props">
                                {{ breastSizes[props.value] }}
                            </template>
                        </v-range-slider>
                    </div>

                    <div class="search-filter__row search-filter__row--border-bottom">
                        <div class="search-filter-select search-filter--w30">
                            <label class="search-filter__label" for="eyeColorSelect">Цвет глаз:</label>
                            <v-select
                                id="eyeColorSelect"
                                v-model="params.eyeColor"
                                :items="eyeColors"
                                outlined
                                hide-details
                                single-line
                                :menu-props="{ bottom: true, offsetY: true, 'content-class': 'search-filter-select-menu' }"
                            ></v-select>
                        </div>
                        <div class="search-filter-select search-filter--w30">
                            <label class="search-filter__label" for="hairColorSelect">Цвет волос:</label>
                            <v-select
                                id="hairColorSelect"
                                v-model="params.heirColor"
                                :items="heirColors"
                                outlined
                                hide-details
                                single-line
                                :menu-props="{ bottom: true, offsetY: true, 'content-class': 'search-filter-select-menu' }"
                            ></v-select>
                        </div>
                    </div>

                    <div class="search-filter__row mb-0">
                        <v-radio-group
                            label="Дети:"
                            class="search-filter-radio-group search-filter-radio-group--two-btn search-filter--w30"
                            v-model="params.children"
                            hide-details
                        >
                            <v-radio
                                label="Да"
                                value="Да"
                                class="search-filter-radiobutton"
                            ></v-radio>
                            <v-radio
                                label="Нет"
                                value="Нет"
                                class="search-filter-radiobutton"
                            ></v-radio>
                        </v-radio-group>

                        <div class="search-filter-select search-filter--w30">
                            <label class="search-filter__label" for="smokingSelect">Курение:</label>
                            <v-select
                                id="smokingSelect"
                                v-model="params.smoking"
                                :items="['Да', 'Нет']"
                                outlined
                                hide-details
                                single-line
                                :menu-props="{ bottom: true, offsetY: true, 'content-class': 'search-filter-select-menu' }"
                            ></v-select>
                        </div>

                        <v-radio-group
                            label="Тату:"
                            class="search-filter-radio-group search-filter-radio-group--two-btn search-filter--w30"
                            v-model="params.tatoo"
                            hide-details
                        >
                            <v-radio
                                label="Да"
                                value="Да"
                                class="search-filter-radiobutton"
                            ></v-radio>
                            <v-radio
                                label="Нет"
                                value="Нет"
                                class="search-filter-radiobutton"
                            ></v-radio>
                        </v-radio-group>
                    </div>

                    <div class="justify-center search-filter__row">
                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default search-filter__submit"
                            @click="applyParams"
                        >
                            <span>Найти</span>
                        </v-btn>
                    </div>
                </div>
            </v-expand-transition>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            openParams: true,
            breastSizes: ['A', 'B', 'C', 'D', 'E'],
            params: {
                mainFilter: 'everything',
                ageRange: [18, 90],
                purposeOfDating: [],
                height: [140, 200],
                weight: [40, 160],
                breastSizes: [0, 4],
                heirColor: '',
                eyeColor: '',
                children: '',
                smoking: '',
                tatoo: '',
            },
        };
    },
    props: {

    },
    computed: {
        heirColors() {
            return this.$store.state.profile.heirColors;
        },
        eyeColors() {
            return this.$store.state.profile.eyeColors;
        },
    },
    methods: {
        applyParams() {
            this.$emit('search-params-changed', JSON.parse(JSON.stringify(this.params)));
        },
    },
};
</script>

<style lang="scss" scoped>
.search-filter {
    &__inner {
        background-image: linear-gradient( 0, rgb(0,141,220) 0%, rgb(0,152,216) 50%, rgb(76,197,248) 100%);
        padding-bottom: 15px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding-bottom: 40px;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 100px 20px;
        margin-bottom: 10px;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            padding-left: 50px;
            padding-right: 50px;
        } /* ... - 1279 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 0;
            padding-top: 25px;
            padding-bottom: 0;
        } /* ... - 757 */
        &--border-bottom {
            padding-bottom: 45px;
            border-bottom: 1px solid #4bc5f8;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                padding-bottom: 25px;
            } /* ... - 757 */
        }
    }

    &--w30 {
        width: 31% !important;
        max-width: none !important;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            width: 33.3% !important;
        } /* ... - 1279 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            width: 100% !important;
        } /* ... - 757 */
        ::v-deep .v-slider {
            width: calc(100% - 60px);
            min-width: auto !important;
            max-width: 285px;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                width: calc(100% - 10px);
                max-width: none;
            } /* ... - 757 */
        }
        &.search-filter-radio-group--two-btn::v-deep > .v-input__control,
        ::v-deep .v-input {
            width: calc(100% - 40px);
            min-width: auto !important;
            max-width: 305px;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                //width: calc(100% - 10px);
                width: 100%;
                max-width: none;
            } /* ... - 757 */
        }
    }

    &__main-filter {
        padding: 30px 75px !important;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            padding-left: 25px !important;
            padding-right: 25px !important;
        } /* ... - 1013 */
        .search-filter-radiobutton {
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                width: 33.3%;
                margin-right: 0;
                ::v-deep.v-label {
                    border: 1px solid #4f5778 !important;
                    font-size: 14px !important;
                }
            } /* ... - 1013 */
        }
    }

    ::v-deep.v-input--radio-group__input {
        flex-direction: row;
    }

    &__label {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        font-family: "Gilroy", sans-serif;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0;
        color: #ffffff;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 15px;
            font-size: 20px;
        } /* ... - 757 */
    }

    &__submit {
        max-width: 300px;
        width: 100% !important;
        height: 75px !important;
        font-size: 18px !important;
    }
}

.search-filter-text-field::v-deep {
    margin: 0;
    padding: 0;
    flex-grow: 0;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        width: 100%;
        margin-bottom: 25px;
    } /* ... - 757 */
    .v-input__control {
        align-items: flex-start;
        flex-grow: 0;
        width: auto;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            width: 100%;
        } /* ... - 757 */
    }
    .v-input__slot {
        position: relative;
        width: auto;
        margin-bottom: 0;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            width: 100%;
        } /* ... - 757 */
        &:before, &:after {
            content: none !important;
        }
    }
    .v-text-field__slot {
        display: flex;
        align-items: center;
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            flex-direction: column;
            align-items: flex-start;
        }
        label {
            position: static !important;
            transform: none;
            height: auto;
            margin-right: 40px;
            font-family: "Gilroy", sans-serif;
            font-size: 24px;
            line-height: 1;
            letter-spacing: 0;
            color: #ffffff !important;
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                margin-right: 0;
                margin-bottom: 15px;
            }
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                font-size: 20px;
            } /* ... - 757 */
        }
        input {
            position: static !important;
            display: block;
            max-width: 304px;
            height: 78px;
            padding-left: 10px;
            padding-right: 10px;
            max-height: none;
            background-color: #ffffff;
            font-size: 22px;
            color: #1f1733;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                max-width: none;
                height: 50px;
            } /* ... - 757 */
            -moz-appearance: textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

.search-filter-range {
    display: flex;
    align-items: center;
    padding: 0;
    flex-grow: 0;
    @media #{map-get($display-breakpoints, 'md-and-down')} {
        align-items: flex-start;
    }
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        width: 100%;
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 25px;
        }
    } /* ... - 757 */
    ::v-deep.v-input__slot {
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    ::v-deep.v-slider {
        min-width: 390px;
        margin: 0 25px 0 7px;
        /* ... - 1429 */
        @media (max-width: 1429px) {
            min-width: 270px;
        } /* ... - 1429 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            width: calc(100% - 10px);
            min-width: auto;
            margin: auto;
        } /* ... - 757 */
    }
    ::v-deep.v-slider__thumb {
        width: 16px;
        height: 16px;
        background-color: #ffffff !important;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            width: 12px;
            height: 12px;
        } /* ... - 757 */
        &:before {
            content: none;
        }
    }
    ::v-deep.v-slider__thumb-label-container {
        top: 10px;
        display: block !important;
        transform: translateX(-50%);
    }
    ::v-deep.v-slider__thumb-label {
        position: static;
        height: auto;
        width: auto !important;
        transform: none !important;
        background-color: transparent !important;
        white-space: nowrap;
        font-family: $body-font-family;
        font-size: 18px;
        letter-spacing: 0;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            font-size: 16px;
        } /* ... - 757 */
        & > div {
            transform: none !important
        }
    }
    ::v-deep.v-slider__track-background.primary.lighten-3 {
        background-color: rgba(255,255,255,0.5) !important;
    }
    ::v-deep.v-slider__track-fill {
        background-color: #ffffff !important;
    }
    ::v-deep.v-label {
        position: static !important;
        transform: none;
        height: auto;
        margin-right: 40px !important;
        font-family: "Gilroy", sans-serif;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0;
        color: #ffffff !important;
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            margin-right: 0;
            margin-bottom: 30px;
        }
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 15px;
            font-size: 20px;
        } /* ... - 757 */
    }
    &--wrap {
        ::v-deep.v-input__slot {
            flex-direction: column;
            align-items: flex-start;
        }
        ::v-deep.v-label {
            margin-right: 0 !important;
            margin-bottom: 25px;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                margin-bottom: 12px;
            } /* ... - 757 */
        }
    }
}

.search-filter-radio-group {
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    } /* ... - 757 */
    ::v-deep.v-input__control {
        flex-grow: 0;
    }
    ::v-deep.v-input--radio-group__input {
        flex-wrap: wrap;
    }
    ::v-deep legend.v-label {
        display: block;
        width: 100%;
        margin-bottom: 30px;
        padding: 0;
        font-family: "Gilroy", sans-serif;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0;
        color: #ffffff;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 15px;
            font-size: 20px;
        } /* ... - 757 */
    }
    &--two-btn {
        width: 100%;
        max-width: 305px;
        ::v-deep.search-filter-radiobutton {
            max-width: none;
            width: calc(50% - 10px);
            .v-label {
                height: 78px;
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    height: 54px;
                } /* ... - 757 */
            }
        }
    }
}

.search-filter-radiobutton {
    flex-grow: 1;
    max-width: 300px;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
    ::v-deep.v-label {
        font-size: 20px !important;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            font-size: 18px !important;
        } /* ... - 1013 */
    }
    &::v-deep.v-item--active .v-label {
        border: 2px solid #1f1733 !important;
    }
}

.search-filter-checkbox {
    width: 19%;
    margin: 0;
    /* ... - 1013 */
    @media #{map-get($display-breakpoints, 'sm-and-down')} {
        width: calc(50% - 8px);
        &:nth-child(even) {
            margin-right: 16px;
        }
    } /* ... - 1013 */
    ::v-deep.v-input--selection-controls__input {
        display: none;
    }
    ::v-deep label.v-label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 78px;
        margin-top: 0;
        padding: 10px;
        background-color: #ffffff;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            margin-bottom: 15px;
        } /* ... - 1013 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            height: 50px;
        } /* ... - 757 */

    }
    &__icon {
        display: block;
        max-height: 100%;
        &--selected {
            display: none;
        }
    }
    &.v-input--is-label-active {
        ::v-deep label.v-label {
            border: 2px solid #040e13;
        }
        .search-filter-checkbox__icon {
            display: none;
            &--selected {
                display: block;
            }
        }
    }
}

.search-filter-button-params {
    justify-content: flex-start;
    width: 100%;
    padding: 40px 100px 40px !important;
    margin-top: 7px;
    background-color: transparent !important;
    box-shadow: none !important;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        margin-top: 0;
        padding: 40px 35px !important;
    } /* ... - 757 */
    &:before {
        content: none;
    }
    ::v-deep.v-btn__content:after {
        content: '';
        display: block;
        width: 29px;
        height: 17px;
        margin-left: 15px;
        background-image: url("~@/assets/images/search/icons/search-filter-button-arrow-icon.png");
        transform: rotate(180deg);
        transition: .2s;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            position: absolute;
            top: 50%;
            right: 0;
            transform: rotate(180deg);
            margin-left: 0;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                transform: rotate(180deg) translateY(50%);
            } /* ... - 757 */
        } /* ... - 757 */
    }
    &--open {
        ::v-deep.v-btn__content:after {
            transform: rotate(0);
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                transform: rotate(0) translateY(-50%);
            } /* ... - 757 */
        }
    }
    &__icon {
        margin-right: 50px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-right: 15px;
        } /* ... - 757 */
    }
    &__text {
        font-family: "Benzin";
        font-size: 24px;
        font-weight: 400;
        text-transform: none;
        color: #ffffff !important;
        letter-spacing: 2px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            font-size: 18px;
        } /* ... - 757 */
    }
}

.search-filter-select {
    max-width: 305px;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        width: 100%;
        max-width: none;
        margin-right: 0;
        margin-bottom: 20px;
    } /* ... - 757 */
    &:last-child {
        margin-right: 0;
        margin-bottom: 0 !important;
    }
    ::v-deep fieldset {
        border: 0 !important;
        background-color: #ffffff;
    }
    ::v-deep .v-select__selections {
        height: 78px;
        color: #1f1733;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            height: 48px;
        } /* ... - 757 */
    }
    ::v-deep .v-input__append-inner {
        display: flex;
        align-items: center;
        height: 100%;
        margin-top: 0;
        i:before {
            color: #1f1733;
        }
    }
}
</style>
<style lang="scss">
.search-filter-select-menu {
    background-color: red !important;
    .v-list-item {
        font-family: "Benzin";
        font-size: 20px;
        color: #4f5778 !important;
        .v-list-item__title {
            text-align: center;
        }
        &--highlighted {
            background-image: url("~@/assets/images/profile/icons/profile-details-select-highlighted-icon.png");
            background-repeat: no-repeat;
            background-position: 90% center;
            &:before {
                background-color: transparent;
            }
            .v-list-item__title {
                color: #1f1733 !important;
            }
        }
    }
}
</style>
