<template>
    <header class="profile-header" :class="{ 'profile-header--menu-open': menuVisible }">
        <div class="page__container profile-header__container">

            <div class="profile-header__container-inner" v-click-outside="hideMenu">
                <!-- logo -->
                <a href="#" class="profile-header__logo">
                    <img src="@/assets/images/logo.png" alt="Lorem ipsum">
                </a>
                <!-- mobile button-->
                <button class="profile-header__burger" @click="toggleMenu">
                    <span class="profile-header__burger-item"></span>
                    <span class="profile-header__burger-item"></span>
                    <span class="profile-header__burger-item"></span>
                </button>
                <!-- menu -->
                <nav
                    v-show="!$vuetify.breakpoint.xs"
                    class="profile-header-menu d-none d-sm-block"
                >
                    <ul class="profile-header-menu__list">
                        <li class="profile-header-menu__item">
                            <router-link :to="{ name: 'Search' }" class="profile-header-menu__link">Поиск</router-link>
                        </li>
                        <li class="profile-header-menu__item">
                            <v-tooltip
                                bottom
                                nudge-right="150"
                                content-class="profile-header-menu-tooltip"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <div class="profile-header-menu__item-inner" v-bind="attrs" v-on="on">
                                        <router-link :to="'/'" class="profile-header-menu__link">Чаты</router-link>
                                        <span class="profile-header-menu__message-icon">
                                            <span class="profile-header-menu__message-icon-text">4</span>
                                        </span>
                                    </div>
                                </template>
                                <p class="profile-header-menu-tooltip__inner">
                                    <img src="@/assets/images/profile/icons/email-icon.png" alt="Message" class="profile-header-menu-tooltip__icon">
                                    <strong>Артем</strong>
                                    отправил Вам сообщение
                                </p>
                            </v-tooltip>
                        </li>
                        <li class="profile-header-menu__item">
                            <v-tooltip
                                bottom
                                nudge-right="150"
                                content-class="profile-header-menu-tooltip"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <div class="profile-header-menu__item-inner" v-bind="attrs" v-on="on">
                                        <router-link :to="{ name: 'Sympathy' }" class="profile-header-menu__link">Симпатии</router-link>
                                        <span class="profile-header-menu__message-icon">
                                            <span class="profile-header-menu__message-icon-text">4</span>
                                        </span>
                                    </div>
                                </template>
                                <p class="profile-header-menu-tooltip__inner">
                                    <img src="@/assets/images/profile/icons/heart-icon.png" alt="heart icon" class="profile-header-menu-tooltip__icon">
                                    <strong>Дмитрий</strong>
                                    посетил Вашу страницу
                                </p>
                            </v-tooltip>
                        </li>
                        <li class="profile-header-menu__item">
                            <router-link :to="{ name: 'Parties' }" class="profile-header-menu__link">Вечеринки</router-link>
                        </li>
                        <li class="profile-header-menu__item">
                            <router-link :to="'/'" class="profile-header-menu__link">Услуги</router-link>
                        </li>
                    </ul>
                </nav>
                <v-scroll-y-transition>
                    <nav
                        v-show="menuVisible && $vuetify.breakpoint.xs"
                        class="profile-header-menu d-sm-none"
                    >
                        <ul class="profile-header-menu__list">
                            <li class="profile-header-menu__item">
                                <router-link :to="{ name: 'Profile' }" class="profile-header-menu__link">
                                    <span class="profile-header-menu__item-icon">
                                        <img src="@/assets/images/profile/icons/profile-mobile-menu-icon--profile.png" alt="Профиль" />
                                    </span>
                                    <span class="profile-header-menu__item-text">Профиль</span>
                                </router-link>
                            </li>
                            <li class="profile-header-menu__item">
                                <router-link :to="'/'" class="profile-header-menu__link">
                                    <span class="profile-header-menu__item-icon">
                                        <img src="@/assets/images/profile/icons/profile-mobile-menu-icon--settings.png" alt="Настройки" />
                                    </span>
                                    <span class="profile-header-menu__item-text">Настройки</span>
                                </router-link>
                            </li>
                            <li class="profile-header-menu__item">
                                <router-link :to="'/'" class="profile-header-menu__link">
                                    <span class="profile-header-menu__item-icon">
                                        <img src="@/assets/images/profile/icons/profile-mobile-menu-icon--help.png" alt="Помощь" />
                                    </span>
                                    <span class="profile-header-menu__item-text">Помощь</span>
                                </router-link>
                            </li>
                            <li class="profile-header-menu__item">
                                <router-link :to="'/'" class="profile-header-menu__link">
                                    <span class="profile-header-menu__item-icon">
                                        <img src="@/assets/images/profile/icons/profile-mobile-menu-icon--logout.png" alt="Выйти" />
                                    </span>
                                    <span class="profile-header-menu__item-text">Выйти</span>
                                </router-link>
                            </li>
                        </ul>
                    </nav>
                </v-scroll-y-transition>
                <div class="profile-header__right">
                    <profile-vip-notify />

                    <profile-header-avatar />
                </div>
            </div>
        </div>
<!--        <profile-vip-notify />-->
    </header>
</template>


<script>
import ProfileHeaderAvatar from '@/components/profile/profile-header/ProfileHeaderAvatar.vue';
import ProfileVipNotify from '@/components/profile/profile-vip-notify/ProfileVipNotify.vue';

export default {
    // components
    components: {
        ProfileHeaderAvatar,
        ProfileVipNotify,
    },
    data() {
        return {
            menuVisible: false,
        };
    },
    computed: {

    },
    methods: {
        toggleMenu() {
            this.menuVisible = !this.menuVisible;
        },
        hideMenu() {
            this.menuVisible = false;
        },
    },
};
</script>


<style lang="scss" scoped>
.profile-header {
    margin-bottom: 0;
    &__container {
        position: relative;
        height: 150px;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            margin-bottom: 35px;
        } /* ... - 1279 */
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            margin-bottom: 15px;
            background-color: #ffffff;
        } /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            height: 98px;
            margin-bottom: 0;
        } /* ... - 757 */
        &.page__container {
            max-width: 1470px;
        }
        &-inner {
            display: flex;
            align-items: center;
            height: 100%;
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                flex-wrap: wrap;
            } /* ... - 1279 */
        }
    }
    &__right {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 0;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            display: none;
        } /* ... - 757 */
    }
    &__logo {
        width: 285px;
        margin-top: 10px;
        margin-right: 45px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            width: 215px;
            margin-right: 15px;
        } /* ... - 1013 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-left: 10px;
            margin-top: 20px;
        } /* ... - 757 */
        img {
            width: 100%;
        }
    }
    &__burger {
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        display: none;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            display: flex;
        } /* ... - 757 */
        &-item {
            display: block;
            width: 8px;
            height: 8px;
            margin-right: 5px;
            border-radius: 50%;
            background-color: #008ddc;
            transition: .2s;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &--menu-open {
        .profile-header__burger-item {
            background-color: #2b396d;
        }
    }
}

.profile-header-menu {
    margin-right: 25px;
    /* ... - 1279 */
    @media #{map-get($display-breakpoints, 'md-and-down')} {
        order: 3;
        width: 100%;
        margin-right: 0;
        margin-left: 10px;
    } /* ... - 1279 */
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
        margin-left: 0;
        margin-right: 0;
        background-color: #ffffff;
        box-shadow: 4px 4px 10px rgba(0, 141, 219, .25);
    } /* ... - 757 */
    &__list {
        display: flex;
        align-items: center;
        padding-left: 0 !important;
        list-style-type: none;
        font-size: 18px;
        font-weight: 600;
        color: #271f3b;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            justify-content: space-between;
            width: 100%;
            max-width: 750px;
        } /* ... - 1279 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            display: block;
            padding-top: 15px;
            padding-bottom: 15px;
        } /* ... - 757 */
    }
    &__item {
        display: flex;
        align-items: center;
        margin-right: 33px;
        &:last-child {
            margin-right: 0;
        }
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-right: 0;
        } /* ... - 757 */
        &-icon {
            margin-right: 10px;
        }
        &-inner {
            display: flex;
            align-items: center;
        }
    }
    &__link {
        color: #271f3b;
        text-decoration: none;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            display: flex;
            margin: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
        } /* ... - 757 */
        &.router-link-exact-active {
            font-weight: bold;
        }
        &:hover {
            text-decoration: underline;
        }
    }
    &__message-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 32px;
        margin: auto 5px 8px;
        background-image: url("~@/assets/images/profile/icons/message-icon.png");
        background-repeat: no-repeat;
        background-position: center center;
        &-text {
            color: #ffffff;
            font-weight: bold;
        }
    }
}

.profile-header-menu-tooltip {
    border-radius: 4px;
    background-color: #ffffff;
    max-width: 450px;
    padding: 15px 20px;
    color: var(--v-primary-base);
    &__inner {
        margin-bottom: 0 !important;
        font-size: 16px;
    }
    &__icon {
        width: 30px;
        height: 30px;
        margin-right: 18px;
        margin-bottom: -10px;
        object-fit: contain;
    }
    &:before {
        position: absolute;
        top: -15px;
        left: 20px;
        content: "";
        width: 0;
        height: 0;
        border-bottom: 15px solid #ffffff;
        border-right: 20px solid transparent;
    }
}
</style>
