<template>
    <div class="profile-header-avatar">
        <v-menu
            offset-y
            @input="toggleMenu"
            content-class="profile-header-avatar__menu"
            nudge-left="90"
        >
            <template v-slot:activator="{ on, attrs }">
                <div
                    v-bind="attrs"
                    v-on="on"
                    class="profile-header-avatar__inner"
                >
                    <img
                        class="profile-header-avatar__photo"
                        :src="require('@/assets/images/profile/temp/temp--profile-header-avatar.png')"
                        width="58"
                        height="58"
                    />
                    <span
                        class="profile-header-avatar__icon"
                        :class="{'profile-header-avatar__icon--open' : menuVisible}"
                    ></span>
                </div>
            </template>
            <v-list>
                <v-list-item>
                    <router-link :to="{ name: 'Profile' }" class="">Профиль</router-link>
                </v-list-item>
                <v-list-item>
                    <router-link :to="'/'">Настройки</router-link>
                </v-list-item>
                <v-list-item>
                    <router-link :to="'/'">Помощь</router-link>
                </v-list-item>
                <v-list-item>
                    <router-link :to="'/'">Выйти</router-link>
                </v-list-item>
            </v-list>
        </v-menu>
    </div>
</template>

<script>
export default {
    data() {
        return {
            menuVisible: false,
        };
    },
    computed: {
    },
    methods: {
        toggleMenu(value) {
            this.menuVisible = value;
        },
    },
};
</script>


<style lang="scss" scoped>
.profile-header-avatar {
    &__inner {
        display: flex;
        align-items: center;
    }
    &__photo {
        margin-right: 15px;
    }
    &__icon {
        display: block;
        width: 25px;
        height: 13px;
        background-image: url("~@/assets/images/icons/dropdown-icon.png");
        background-repeat: no-repeat;
        background-position: center center;
        &--open {
            transform: rotate(180deg);
        }
    }
    &__menu {
        margin-top: 10px;
        .v-list {
            padding: 18px 0;
        }
        .v-list-item {
            min-height: 41px;
            & > a {
                align-items: center;
                min-width: 160px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 18px;
                text-align: center;
                &:hover {
                    text-decoration: underline;
                }
                &.router-link-exact-active {
                    font-weight: bold;
                }
            }
        }
    }
}
</style>
