<template>
    <div class="profile-gallery-edit">
        <div class="profile-gallery__inner">
            <div class="profile-gallery-edit-main">
                <v-img
                    :src="require('@/assets' + selectedImage.src)"
                    aspect-ratio="1"
                ></v-img>

                <profile-gallery-total
                    :index="items.length"
                    :approved="selectedImage.approved"
                />

                <v-btn class="profile-gallery-edit-main-edit">
                    <img src="@/assets/images/profile/icons/profile-gallery-main-edit-icon.png" alt="Edit">
                </v-btn>
            </div>

            <div class="profile-gallery-edit__items d-none d-md-flex">
                <div
                    v-for="(image, index) in items"
                    :key="index"
                    @click="setSelectedImage(image)"
                    class="profile-gallery-edit-item"
                >
                    <div class="profile-gallery-edit-item__inner">
                        <v-img
                            :src="require('@/assets' + image.src)"
                            aspect-ratio="1"
                        ></v-img>
                    </div>
                </div>
                <div
                    class="profile-gallery-edit-item profile-gallery-edit-item--add"
                    @click="showModal = !showModal"
                >
                    <div class="profile-gallery-edit-item__inner"></div>
                </div>
            </div>

            <div class="profile-gallery-edit-carousel d-md-none">
                <v-carousel
                    :show-arrows="false"
                    :hide-delimiters="true"
                    height="auto"
                >
                    <v-carousel-item v-for="(chunk, i) in carouselImages" :key="i">
                        <div class="profile-gallery-edit__items">
                            <div
                                v-for="(image, index) in chunk"
                                :key="index"
                                @click="setSelectedImage(image)"
                                class="profile-gallery-edit-item"
                            >
                                <div class="profile-gallery-edit-item__inner">
                                    <v-img
                                        :src="require('@/assets' + image.src)"
                                        aspect-ratio="1"
                                    ></v-img>
                                </div>
                            </div>
                            <div
                                v-if="carouselImages.length === (1 + i) && chunk.length < carouselColumns"
                                class="profile-gallery-edit-item profile-gallery-edit-item--add"
                                @click="showModal = !showModal"
                            >
                                <div class="profile-gallery-edit-item__inner"></div>
                            </div>
                        </div>
                    </v-carousel-item>
                    <v-carousel-item v-if="carouselImages[(carouselImages.length - 1)] && carouselImages[(carouselImages.length - 1)].length === carouselColumns">
                        <div class="profile-gallery-edit__items">
                            <div class="profile-gallery-edit-item profile-gallery-edit-item--add" @click="showModal = !showModal">
                                <div class="profile-gallery-edit-item__inner"></div>
                            </div>
                        </div>
                    </v-carousel-item>
                </v-carousel>
            </div>

            <v-dialog
                v-model="showModal"
                width="auto"
                content-class="profile-gallery-edit-modal"
            >
                <v-card class="profile-gallery-edit-modal__inner">
                    <h2 class="profile-gallery-edit-modal__title">Добавить медиа</h2>
                    <div class="profile-gallery-edit-modal__buttons">
                        <div class="profile-gallery-edit-modal__button-outer">
                            <v-btn class="profile-gallery-edit-modal__button">Сделать снимок</v-btn>
                        </div>
                        <div class="profile-gallery-edit-modal__button-outer">
                            <v-btn class="profile-gallery-edit-modal__button">Записать аудио</v-btn>
                        </div>
                        <div class="profile-gallery-edit-modal__button-outer">
                            <v-btn class="profile-gallery-edit-modal__button">Загрузить фото</v-btn>
                        </div>
                        <div class="profile-gallery-edit-modal__button-outer">
                            <v-btn class="profile-gallery-edit-modal__button">Загрузить видео</v-btn>
                        </div>
                    </div>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script>
import ProfileGalleryTotal from '@/components/profile/profile-gallery-total/ProfileGalleryTotal.vue';

export default {
    components: {
        ProfileGalleryTotal,
    },
    data() {
        return {
            showModal: false,
            carouselColumns: 3,
        };
    },
    computed: {
        items() {
            return this.$store.state.profile.profileData.photos;
        },
        selectedImage() {
            return this.$store.getters['profile/getMainPhoto'];
        },
        carouselImages() {
            return this.$chunkArray(this.items, this.carouselColumns);
        },
    },
    methods: {
        setSelectedImage(image) {
            this.$store.commit('profile/updateSelectedPhoto', { selectedPhoto: image });
        },
    },
};
</script>


<style lang="scss">
.profile-gallery-edit {
    &__inner {

    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-left: -5px;
            margin-right: -5px;
        } /* ... - 757 */
    }
}

.profile-gallery-edit-item {
    width: 33.3%;
    padding: 10px;
    cursor: pointer;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        padding: 5px;
    } /* ... - 757 */
    .v-responsive__sizer {
        box-shadow: 0 0 0 2px #47b7e5 inset;
        border-radius: 2px;
    }
    &--add {
        .profile-gallery-edit-item__inner {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 100%;
            background-color: #4bc5f7;
            background-image: url("~@/assets/images/profile/icons/profile-gallery-plus-icon.png");
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 2px;
            box-shadow: 0 0 0 2px #47b7e5 inset;
        }
    }
}

.profile-gallery-edit-carousel {
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        max-width: calc(100% - 50px);
        margin-left: auto;
        margin-right: auto;
        .v-window, .v-window__container, .v-image {
            overflow: visible;
        }
    } /* ... - 757 */
}

.profile-gallery-edit-main {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        margin: 10px 25px;
    } /* ... - 757 */
}

.profile-gallery-edit-main-edit.v-btn:not(.v-btn--round).v-size--default {
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    min-width: auto;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-radius: 4px;

    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        right: 20px;
        width: 30px;
        height: 30px;
        img {
            width: 22px;
            height: 22px;
        }
    } /* ... - 757 */

    &:before {
        content: none;
    }
}

.profile-gallery-edit-modal {
    max-width: 870px;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        margin-left: -15px;
        margin-right: -15px;
    } /* ... - 757 */
    &__inner.v-card.v-sheet {
        padding-top: 55px;
        padding-bottom: 75px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            padding: 30px 40px;
        } /* ... - 1013 */
    }
    &__title {
        margin-bottom: 50px;
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            margin-bottom: 20px;
            font-size: 18px;
        } /* ... - 1013 */
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -30px;
        margin-right: -30px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            display: block;
            margin-left: 0;
            margin-right: 0;
        } /* ... - 757 */
    }
    &__button-outer {
        max-width: 50%;
        padding: 15px 30px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            width: 100%;
        } /* ... - 1013 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            max-width: none;
            padding-left: 0;
            padding-right: 0;
        } /* ... - 757 */
    }
    &__button.theme--light.v-btn.v-btn--has-bg {
        width: 300px;
        height: 76px;
        background-color: transparent !important;
        box-shadow: 0 0 0 1px #4f5778 inset;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            width: 100%;
            height: 60px;
        } /* ... - 1013 */
        &:hover {
            box-shadow: 0 0 0 2px #271f3b inset;
            .v-btn__content {
                color: #261e3a;
            }
            &:before {
                content: none;
            }
        }
        .v-btn__content {
            font-family: "Benzin";
            font-size: 20px;
            color: #4f5778;
            font-weight: 400;
            text-transform: none;
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                font-size: 16px;
            } /* ... - 1013 */
        }
    }
}
</style>
