<template>
    <div class="registration-interests">
        <div class="registration-interests-search">
            <v-autocomplete
                height="auto"
                hide-details="true"
                :items="itemsForSearch"
                v-model="search"
                @change="selectItem"
            ></v-autocomplete>
        </div>

        <div class="registration-interests__result" v-if="selectedInterests.length">
            <div
                v-for="item in selectedInterests"
                :key="item.id"
                class="registration-interests-item__outer"
            >
                <div class="registration-interests-item">
                    <span class="registration-interests-item__text">{{ item.text }}</span>
                    <span class="registration-interests-item__remove" @click="removeSelectedItem(item)"></span>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
export default {
    data() {
        return {
            search: '',
            selectedInterests: [],
        };
    },

    props: {
        allInterests: Array,
        selectedItems: Array,
    },

    computed: {
        itemsForSearch() {
            const selectedId = this.selectedInterests.map((item) => item.id);
            return this.allInterests.filter((item) => !selectedId.includes(item.id));
        },
    },

    methods: {
        selectItem() {
            const item = this.allInterests.find((el) => el.text === this.search);
            this.search = null;
            this.selectedInterests.push(item);
            this.$emit('update-interest', this.selectedInterests);
        },
        removeSelectedItem(removeItem) {
            this.selectedInterests = this.selectedInterests.filter((item) => item.id !== removeItem.id);
            this.search = null;
            this.$emit('update-interest', this.selectedInterests);
        },
    },
    watch: {
        selectedItems(value) {
            this.selectedInterests = value;
        },
    },
};
</script>


<style lang="scss" scoped>
    .registration-interests {
        margin-bottom: 25px;
        &__result {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }
    .registration-interests-item {
        position: relative;
        display: flex;
        padding: 10px 50px 10px 20px;
        border-radius: 3px;
        background-color: #dbf1fa;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            padding: 7px 35px 7px 15px;
        } /* ... - 1279 */
        &__outer {
            padding: 10px;
        }
        &__text {
            font-size: 24px;
            color: #2b396d;
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                font-size: 20px;
            } /* ... - 1279 */
        }
        &__remove {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            display: block;
            width: 25px;
            height: 25px;
            background-image: url("~@/assets/images/icons/registration-interests-item-close.png");
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                right: 5px;
            } /* ... - 1279 */
        }
    }
</style>
