<template>
    <div class="registration">
        <div class="registration__inner">
            <v-progress-linear
                v-show="step !== 0"
                :value="progress"
                color="#2b396d"
                background-color="#ffffff"
                height="10"
                rounded
            ></v-progress-linear>
            <v-stepper v-model="step" height="100%">
                <v-stepper-items>

                    <v-stepper-content step="0" class="registration__step registration__step--0">
                        <h1 class="registration__title">Приветствуем Вас на нашем сайте!</h1>
                        <p class="registration__description">Мы рады познакомиться с Вами и подберём лучшие совпадения, основываясь на Ваших ответах.</p>
                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(1)"
                        >
                            <span>Начать</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>
                    </v-stepper-content>

                    <v-stepper-content step="1" class="registration__step registration__step--1">

                        <v-row class="mb-lg-6">
                            <v-col cols="12" sm="6" class="pr-md-12 mb-3 mb-sm-0">
                                <v-text-field
                                    class="registration__field registration__field--text"
                                    v-model="v$.formData.name.$model"
                                    :error="hasError(v$.formData.name)"
                                    :error-messages="getErrorMessage(v$.formData.name)"
                                    label="Ваше имя:"
                                    required
                                >
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pl-md-12 mb-1 mb-sm-0">
                                <v-text-field
                                    class="registration__field registration__field--text"
                                    v-model="v$.formData.city.$model"
                                    :error="hasError(v$.formData.city)"
                                    :error-messages="getErrorMessage(v$.formData.city)"
                                    label="Город проживания:"
                                    required
                                ></v-text-field>
                            </v-col>
                        </v-row>
                        <v-row class="mb-6 mb-lg-10">
                            <v-col cols="12">
                                <v-textarea
                                    v-model="formData.aboutMe"
                                    label="Раскажите о себе (необязательно):"
                                    no-resize
                                >
                                </v-textarea>
                            </v-col>
                        </v-row>

                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            :disabled="!validStep1"
                            @click="setStep(2)"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>
                    </v-stepper-content>

                    <v-stepper-content step="2" class="registration__step registration__step--2">

                        <p class="mb-4">Цель знакомства:</p>

                        <v-radio-group
                            v-model="v$.formData.purposeOfDating.$model"
                            :error="hasError(v$.formData.purposeOfDating)"
                            :error-messages="getErrorMessage(v$.formData.purposeOfDating)"
                        >
                            <v-row>

                                <v-col cols="12" sm="6" class="v-input--radio-group__column">
                                    <v-radio
                                        label="Онлайн общение"
                                        value="radio-1"
                                    ></v-radio>
                                </v-col>

                                <v-col cols="12" sm="6" class="v-input--radio-group__column">
                                    <v-radio
                                        label="Эскорт"
                                        value="radio-2"
                                    ></v-radio>
                                </v-col>


                                <v-col cols="12" sm="6" class="v-input--radio-group__column" id="keptWomanRadioButton">
                                    <v-tooltip bottom attach="#keptWomanRadioButton">
                                        <template v-slot:activator="{ on }">
                                            <v-radio
                                                label="Содержанка"
                                                value="radio-3"
                                                v-on="on"
                                            ></v-radio>
                                        </template>
                                        <span>Короткое описание данной категории<br>Короткое описание данной категории</span>
                                    </v-tooltip>
                                </v-col>

                                <v-col cols="12" sm="6" class="v-input--radio-group__column" id="seriousRelationshipRadioButton">
                                    <v-tooltip bottom attach="#seriousRelationshipRadioButton">
                                        <template v-slot:activator="{ on }">
                                            <v-radio
                                                label="Серьезные отношения"
                                                value="radio-4"
                                                v-on="on"
                                            ></v-radio>
                                        </template>
                                        <span>Короткое описание данной категории<br>Короткое описание данной категории</span>
                                    </v-tooltip>
                                </v-col>

                            </v-row>
                        </v-radio-group>
                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(3)"
                            :disabled="!validStep2"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button class="registration__back" @click="setStep(1)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>

                    </v-stepper-content>

                    <v-stepper-content step="3" class="registration__step registration__step--3">
                        <v-row class="mb-6 mb-sm-10 mb-lg-10">
                            <v-col cols="12" sm="6" class="pr-md-12 mb-lg-6">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.photoPrice.$model"
                                    :error="hasError(v$.formData.photoPrice)"
                                    :error-messages="getErrorMessage(v$.formData.photoPrice)"
                                    label="1 фото:"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >руб</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pl-md-12 mb-lg-6">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.videoPrice.$model"
                                    :error="hasError(v$.formData.videoPrice)"
                                    :error-messages="getErrorMessage(v$.formData.videoPrice)"
                                    label="1 видео:"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >руб</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pr-md-12">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.videoChatDuration.$model"
                                    :error="hasError(v$.formData.videoChatDuration)"
                                    :error-messages="getErrorMessage(v$.formData.videoChatDuration)"
                                    label="Длительность видеочата:"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >мин</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pl-md-12">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.videoChatPrice.$model"
                                    :error="hasError(v$.formData.videoChatPrice)"
                                    :error-messages="getErrorMessage(v$.formData.videoChatPrice)"
                                    label="Стоимость видеочата:"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >руб</span>
                                </v-text-field>
                            </v-col>
                        </v-row>

                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(4)"
                            :disabled="!validStep3"
                        >.
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button class="registration__back" @click="setStep(2)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>
                    </v-stepper-content>

                    <v-stepper-content step="4" class="registration__step registration__step--4">
                        <v-row class="mb-12 mb-md-4">
                            <v-col cols="12" sm="6" class="pr-md-12 pb-md-0">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.oneHourOut.$model"
                                    :error="hasError(v$.formData.oneHourOut)"
                                    :error-messages="getErrorMessage(v$.formData.oneHourOut)"
                                    label="1 час (на выезд):"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >руб</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pl-md-12 pb-md-0">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.oneHourAtHome.$model"
                                    :error="hasError(v$.formData.oneHourAtHome)"
                                    :error-messages="getErrorMessage(v$.formData.oneHourAtHome)"
                                    label="1 час (у себя):"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >руб</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pr-md-12 py-md-0">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.twoHourOut.$model"
                                    :error="hasError(v$.formData.twoHourOut)"
                                    :error-messages="getErrorMessage(v$.formData.twoHourOut)"
                                    label="2 часа (на выезд):"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >руб</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pl-md-12 py-md-0">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.twoHourAtHome.$model"
                                    :error="hasError(v$.formData.twoHourAtHome)"
                                    :error-messages="getErrorMessage(v$.formData.twoHourAtHome)"
                                    label="2 часа (у себя):"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >руб</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pr-md-12 py-md-0">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.nightOut.$model"
                                    :error="hasError(v$.formData.nightOut)"
                                    :error-messages="getErrorMessage(v$.formData.nightOut)"
                                    label="Ночь (у себя):"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >руб</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pl-md-12 py-md-0">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.nightAtHome.$model"
                                    :error="hasError(v$.formData.nightAtHome)"
                                    :error-messages="getErrorMessage(v$.formData.nightAtHome)"
                                    label="Ночь (у себя):"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >руб</span>
                                </v-text-field>
                            </v-col>
                        </v-row>

                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(5)"
                            :disabled="!validStep4"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button class="registration__back" @click="setStep(3)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>
                    </v-stepper-content>

                    <v-stepper-content step="5" class="registration__step registration__step--5">
                        <v-row class="mb-12 mb-md-6">
                            <v-col cols="12">
                                <v-textarea
                                    v-model="v$.formData.sexualPreferences.$model"
                                    :error="hasError(v$.formData.sexualPreferences)"
                                    :error-messages="getErrorMessage(v$.formData.sexualPreferences)"
                                    label="Сексуальные предпочтения:"
                                    no-resize
                                >
                                </v-textarea>
                            </v-col>
                        </v-row>

                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(6)"
                            :disabled="!validStep5"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button class="registration__back" @click="setStep(4)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>
                    </v-stepper-content>

                    <v-stepper-content step="6" class="registration__step registration__step--6">
                        <v-row class="mb-8 mb-lg-16">
                            <v-col cols="12" sm="6" class="pr-md-12 pb-md-0">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.weekPrice.$model"
                                    :error="hasError(v$.formData.weekPrice)"
                                    :error-messages="getErrorMessage(v$.formData.weekPrice)"
                                    label="Ожидаемый размер содержания (в неделю)"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >руб</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pl-md-12 pb-md-0">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.monthPrice.$model"
                                    :error="hasError(v$.formData.monthPrice)"
                                    :error-messages="getErrorMessage(v$.formData.monthPrice)"
                                    label="Ожидаемый размер содержания (за месяц):"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >руб</span>
                                </v-text-field>
                            </v-col>
                        </v-row>

                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(7)"
                            :disabled="!validStep6"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button class="registration__back" @click="setStep(5)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>
                    </v-stepper-content>

                    <v-stepper-content step="7" class="registration__step registration__step--7">

                        <p class="mb-4">Формат отношений:</p>

                        <v-radio-group
                            v-model="v$.formData.relationshipFormat.$model"
                            :error="hasError(v$.formData.relationshipFormat)"
                            :error-messages="getErrorMessage(v$.formData.relationshipFormat)"
                        >
                            <v-row>

                                <v-col cols="12" sm="6" class="v-input--radio-group__column">
                                    <v-radio
                                        label="Флирт/свидания"
                                        value="Флирт/свидания"
                                    ></v-radio>
                                </v-col>

                                <v-col cols="12" sm="6" class="v-input--radio-group__column">
                                    <v-radio
                                        label="Совместный отдых"
                                        value="Совместный отдых"
                                    ></v-radio>
                                </v-col>

                                <v-col cols="12" sm="6" class="v-input--radio-group__column">
                                    <v-radio
                                        label="Совместное проживание"
                                        value="Совместное проживание"
                                    ></v-radio>
                                </v-col>

                                <v-col cols="12" sm="6" class="v-input--radio-group__column">
                                    <v-radio
                                        label="Брак/семья"
                                        value="Брак/семья"
                                    ></v-radio>
                                </v-col>

                                <v-col cols="12" sm="6" class="v-input--radio-group__column">
                                    <v-radio
                                        label="Рождение детей"
                                        value="Рождение детей"
                                    ></v-radio>
                                </v-col>

                            </v-row>
                        </v-radio-group>
                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(8)"
                            :disabled="!validStep7"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button class="registration__back" @click="setStep(6)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>

                    </v-stepper-content>

                    <v-stepper-content step="8" class="registration__step registration__step--8">

                        <RegistrationInterests :allInterests="allInterests" @update-interest="updateInterest"></RegistrationInterests>

                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(9)"
                            :disabled="!validStep8"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button class="registration__back" @click="setStep(7)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>

                    </v-stepper-content>

                    <v-stepper-content step="9" class="registration__step registration__step--9">

                        <v-row class="mb-12">
                            <v-col cols="12" sm="6" class="pr-md-12 mb-sm-6 pb-md-0">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.age.$model"
                                    :error="hasError(v$.formData.age)"
                                    :error-messages="getErrorMessage(v$.formData.age)"
                                    label="Укажите Ваш возраст:"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >лет</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pl-md-12 mb-sm-6 pb-md-0">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.height.$model"
                                    :error="hasError(v$.formData.height)"
                                    :error-messages="getErrorMessage(v$.formData.height)"
                                    label="Укажите Ваш рост:"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >см</span>
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" class="pr-md-12 pb-md-0">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="v$.formData.weight.$model"
                                    :error="hasError(v$.formData.weight)"
                                    :error-messages="getErrorMessage(v$.formData.weight)"
                                    label="Укажите Ваш вес:"
                                    type="number"
                                    min="0"
                                >
                                    <span
                                        slot="append"
                                        class="registration__field-unit"
                                    >кг</span>
                                </v-text-field>
                            </v-col>
                        </v-row>

                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(10)"
                            :disabled="!validStep9"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button class="registration__back" @click="setStep(8)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>

                    </v-stepper-content>

                    <v-stepper-content step="10" class="registration__step registration__step--10">

                        <v-row class="mb-8 mb-lg-16">
                            <v-col cols="12" sm="6" class="pr-md-12 mb-sm-6 mb-lg-9 pb-md-0">
                                <v-select
                                    v-model="v$.formData.breastSize.$model"
                                    :error="hasError(v$.formData.breastSize)"
                                    :error-messages="getErrorMessage(v$.formData.breastSize)"
                                    :items="breastSizes"
                                    label="Размер груди:"
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="6" class="pl-md-12 mb-sm-6 mb-lg-9 pb-md-0">
                                <v-select
                                    v-model="v$.formData.heirColor.$model"
                                    :error="hasError(v$.formData.heirColor)"
                                    :error-messages="getErrorMessage(v$.formData.heirColor)"
                                    :items="heirColors"
                                    label="Цвет волос:"
                                ></v-select>
                            </v-col>
                            <v-col cols="12" sm="6" class="pr-md-12 pb-md-0">
                                <v-select
                                    v-model="v$.formData.eyeColor.$model"
                                    :error="hasError(v$.formData.eyeColor)"
                                    :error-messages="getErrorMessage(v$.formData.eyeColor)"
                                    :items="eyeColors"
                                    label="Цвет глаз:"
                                ></v-select>
                            </v-col>
                        </v-row>

                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(11)"
                            :disabled="!validStep10"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button class="registration__back" @click="setStep(9)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>

                    </v-stepper-content>

                    <v-stepper-content step="11" class="registration__step registration__step--11">

                        <v-row class="mb-12">
                            <v-col cols="12" sm="6" class="pr-md-10 mb-lg-8">
                                <v-radio-group
                                    v-model="v$.formData.children.$model"
                                    :error="hasError(v$.formData.children)"
                                    :error-messages="getErrorMessage(v$.formData.children)"
                                    label="У вас есть дети?"
                                >
                                    <v-row>
                                        <v-col cols="6" class="">
                                            <v-radio
                                                label="Да"
                                                value="1"
                                            ></v-radio>
                                        </v-col>

                                        <v-col cols="6" class="">
                                            <v-radio
                                                label="Нет"
                                                value="0"
                                            ></v-radio>
                                        </v-col>
                                    </v-row>
                                </v-radio-group>
                            </v-col>

                            <v-col cols="12" sm="6" class="pl-md-10 mb-lg-8">
                                <v-radio-group
                                    v-model="v$.formData.tatoo.$model"
                                    :error="hasError(v$.formData.tatoo)"
                                    :error-messages="getErrorMessage(v$.formData.tatoo)"
                                    label="У вас есть тату?"
                                >
                                    <v-row>
                                        <v-col cols="6" class="">
                                            <v-radio
                                                label="Да"
                                                value="1"
                                            ></v-radio>
                                        </v-col>

                                        <v-col cols="6" class="">
                                            <v-radio
                                                label="Нет"
                                                value="0"
                                            ></v-radio>
                                        </v-col>
                                    </v-row>
                                </v-radio-group>
                            </v-col>

                            <v-col cols="12" sm="6" class="pr-md-12">
                                <v-select
                                    v-model="v$.formData.smoking.$model"
                                    :error="hasError(v$.formData.smoking)"
                                    :error-messages="getErrorMessage(v$.formData.smoking)"
                                    :items="['Да', 'Нет']"
                                    label="Курите?"
                                ></v-select>
                            </v-col>

                            <v-col cols="12" sm="6" class="pl-md-12">
                                <v-text-field
                                    class="registration__field registration__field--number-with-unit"
                                    v-model="formData.other"
                                    label="Другое (необязательно):"
                                >
                                </v-text-field>
                            </v-col>
                        </v-row>

                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(12)"
                            :disabled="!validStep11"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button class="registration__back" @click="setStep(10)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>

                    </v-stepper-content>

                    <v-stepper-content step="12" class="registration__step registration__step--12">
                        <v-row class="mb-12 mb-md-6">
                            <v-col cols="12">
                                <v-textarea
                                    v-model="v$.formData.communicationFormat.$model"
                                    :error="hasError(v$.formData.communicationFormat)"
                                    :error-messages="getErrorMessage(v$.formData.communicationFormat)"
                                    label="Формат общения:"
                                    no-resize
                                >
                                </v-textarea>
                            </v-col>
                        </v-row>

                        <v-btn
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(13)"
                            :disabled="!validStep12"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button class="registration__back" @click="setStep(11)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>
                    </v-stepper-content>

                    <v-stepper-content step="13" class="registration__step registration__step--13">
                        <RegistrationCropper
                            @save-file="saveFileHandler"
                            @upload-photo-process="uploadProcessHandler"
                        ></RegistrationCropper>

                        <v-btn
                            v-if="!uploadPhotoProcess"
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="setStep(14)"
                            :disabled="!validStep13"
                        >
                            <span>Дальше</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button v-if="!uploadPhotoProcess" class="registration__back" @click="setStep(12)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>
                    </v-stepper-content>

                    <v-stepper-content step="14" class="registration__step registration__step--14">

                        <h2 class="registration__title">Регистрация</h2>

                        <v-row class="mb-6 mb-lg-8">

                            <v-col cols="12" class="mb-0 pb-3 pb-md-0 pb-lg-3">
                                <v-text-field
                                    class="registration__field registration__field--text"
                                    v-model="v$.formData.email.$model"
                                    :error="hasError(v$.formData.email)"
                                    :error-messages="getErrorMessage(v$.formData.email)"
                                    label="Введите e-mail:"
                                    required
                                >
                                </v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" class="pr-md-12 pb-3 pb-md-0 pb-lg-3">
                                <v-text-field
                                    class="registration__field registration__field--text"
                                    v-model="v$.formData.password.$model"
                                    :error="hasError(v$.formData.password)"
                                    :error-messages="getErrorMessage(v$.formData.password)"
                                    label="Введите пароль:"
                                    required
                                    :type="passwordShow ? 'text' : 'password'"
                                >
                                    <template v-slot:append>
                                        <span
                                            @click="passwordShow = !passwordShow"
                                            class="password-eye"
                                            :class="{'password-eye--show': passwordShow}"
                                        ></span>
                                    </template>
                                </v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" class="pl-md-12 pb-3 pb-md-0 pb-lg-3">

                                <v-text-field
                                    class="registration__field registration__field--text"
                                    v-model="v$.formData.passwordConfirm.$model"
                                    :error="hasError(v$.formData.passwordConfirm)"
                                    :error-messages="getErrorMessage(v$.formData.passwordConfirm)"
                                    label="Введите пароль:"
                                    required
                                    :type="passwordConfirmShow ? 'text' : 'password'"
                                >
                                    <template v-slot:append>
                                        <span
                                            @click="passwordConfirmShow = !passwordConfirmShow"
                                            class="password-eye"
                                            :class="{'password-eye--show': passwordConfirmShow}"
                                        ></span>
                                    </template>
                                </v-text-field>
                            </v-col>

                        </v-row>

                        <v-btn
                            v-if="!uploadPhotoProcess"
                            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next"
                            @click="submitForm()"
                            :disabled="!validStep14"
                        >
                            <span>Зарегистрироваться</span>
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                        </v-btn>

                        <button v-if="!uploadPhotoProcess" class="registration__back" @click="setStep(13)">
                            <v-icon class="ml-3">ai-right-arrow</v-icon>
                            <span>Назад</span>
                        </button>
                    </v-stepper-content>

                </v-stepper-items>
            </v-stepper>
        </div>
    </div>
</template>


<script>
import useVuelidate from '@vuelidate/core';
import { required, minLength, email, sameAs } from '@vuelidate/validators';
import RegistrationCropper from './RegistrationCropper.vue';
import RegistrationInterests from './RegistrationInterests.vue';

export default {
    components: { RegistrationCropper, RegistrationInterests },
    data() {
        return {
            step: 0,
            allSteps: 14,
            uploadPhotoProcess: false,
            passwordShow: false,
            passwordConfirmShow: false,
            breastSizes: ['0', '1', '2', '3', '4', '5'],
            heirColors: ['Брюнет', 'Рыжий', 'Блондин', 'Шатен', 'Русый', 'Седой'],
            eyeColors: ['Синий', 'Голубой', 'Серый', 'Зелёный', 'Жёлтый', 'Карий', 'Чёрный'],
            allInterests: [
                { id: 0, text: 'Кулинария' },
                { id: 1, text: 'Караоке' },
                { id: 2, text: 'Путешествия' },
                { id: 3, text: 'Фитнес' },
                { id: 4, text: 'Теннис' },
                { id: 5, text: 'Вечеринки' },
            ],
            formData: {
                name: '',
                city: '',
                aboutMe: '',
                purposeOfDating: '',
                photoPrice: 500,
                videoPrice: 1000,
                videoChatDuration: 30,
                videoChatPrice: 2000,
                oneHourOut: 5000,
                oneHourAtHome: 5000,
                twoHourOut: 9000,
                twoHourAtHome: 9000,
                nightOut: 40000,
                nightAtHome: 40000,
                sexualPreferences: '',
                weekPrice: 50000,
                monthPrice: 90000,
                relationshipFormat: '',
                interests: [],
                age: 20,
                height: 172,
                weight: 52,
                breastSize: '',
                heirColor: '',
                eyeColor: '',
                children: '',
                tatoo: '',
                smoking: '',
                other: '',
                communicationFormat: '',
                photos: [],
                email: '',
                password: '',
                passwordConfirm: '',
            },
        };
    },

    validations() {
        return {
            formData: {
                name: { required, minLength: minLength(3) },
                city: { required },
                purposeOfDating: { required },
                videoPrice: { required },
                photoPrice: { required },
                videoChatDuration: { required },
                videoChatPrice: { required },
                oneHourOut: { required },
                oneHourAtHome: { required },
                twoHourOut: { required },
                twoHourAtHome: { required },
                nightOut: { required },
                nightAtHome: { required },
                sexualPreferences: { required },
                weekPrice: { required },
                monthPrice: { required },
                relationshipFormat: { required },
                interests: { required },
                age: { required },
                height: { required },
                weight: { required },
                breastSize: { required },
                heirColor: { required },
                eyeColor: { required },
                children: { required },
                tatoo: { required },
                smoking: { required },
                communicationFormat: { required },
                photos: { required, minLength: minLength(2) },
                email: { required, email },
                password: { required, minLength: minLength(6) },
                passwordConfirm: { required, sameAsPassword: sameAs(this.formData.password) },
            },
        };
    },

    computed: {
        progress() {
            return (100 / this.allSteps) * this.step;
        },
        validStep1() {
            return !this.v$.formData.name.$invalid && !this.v$.formData.city.$invalid;
        },
        validStep2() {
            return !this.v$.formData.purposeOfDating.$invalid;
        },
        validStep3() {
            return !this.v$.formData.videoPrice.$invalid && !this.v$.formData.photoPrice.$invalid && !this.v$.formData.videoChatDuration.$invalid && !this.v$.formData.videoChatPrice.$invalid;
        },
        validStep4() {
            return !this.v$.formData.oneHourOut.$invalid && !this.v$.formData.oneHourAtHome.$invalid && !this.v$.formData.twoHourOut.$invalid && !this.v$.formData.twoHourAtHome.$invalid && !this.v$.formData.nightOut.$invalid && !this.v$.formData.nightAtHome.$invalid;
        },
        validStep5() {
            return !this.v$.formData.sexualPreferences.$invalid;
        },
        validStep6() {
            return !this.v$.formData.weekPrice.$invalid && !this.v$.formData.monthPrice.$invalid;
        },
        validStep7() {
            return !this.v$.formData.relationshipFormat.$invalid;
        },
        validStep8() {
            return !this.v$.formData.interests.$invalid;
        },
        validStep9() {
            return !this.v$.formData.age.$invalid && !this.v$.formData.height.$invalid && !this.v$.formData.weight.$invalid;
        },
        validStep10() {
            return !this.v$.formData.breastSize.$invalid && !this.v$.formData.heirColor.$invalid && !this.v$.formData.eyeColor.$invalid;
        },
        validStep11() {
            return !this.v$.formData.children.$invalid && !this.v$.formData.tatoo.$invalid && !this.v$.formData.smoking.$invalid;
        },
        validStep12() {
            return !this.v$.formData.communicationFormat.$invalid;
        },
        validStep13() {
            return !this.v$.formData.photos.$invalid;
        },
        validStep14() {
            return !this.v$.formData.email.$invalid && !this.v$.formData.password.$invalid && !this.v$.formData.passwordConfirm.$invalid;
        },
    },

    methods: {
        setStep(step) {
            this.step = step;
            this.$emit('setStep', step);
        },

        saveFileHandler({ fileIndex, file }) {
            this.formData.photos.splice(fileIndex, 1, file);
        },

        uploadProcessHandler(status) {
            this.uploadPhotoProcess = status;
        },

        updateInterest(interests) {
            this.formData.interests = interests;
        },

        submitForm() {
            console.log(this.formData);
            this.setStep(0);
        },

        hasError(field) {
            return field.$dirty && field.$invalid;
        },

        getErrorMessage(field) {
            let msg = '';
            if (!field.$errors.length) return '';
            const error = field.$errors[0];
            const { type } = error.$params;
            switch (type) {
            case 'minLength': msg = `Это поле должно быть не менее ${error.$params.min} символов`; break;
            case 'required': msg = 'Это обязательное поле'; break;
            case 'email': msg = 'Поле должно быть валидным E-mail'; break;
            case 'sameAs': msg = 'Пароли не совпадают'; break;
            default: msg = ''; break;
            }

            return msg;
        },

    },
    mounted() {
        this.$emit('setStep', this.step);
    },
    setup() {
        return { v$: useVuelidate() };
    },
};
</script>


<style lang="scss">
    .registration {
        position: relative;
        z-index: 2;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,141,220,1) 0%, rgba(0,152,216,1) 50%, rgba(76,197,248,1) 100%);
        padding-left: 85px;
        padding-right: 85px;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            overflow: hidden;
            padding-left: 15px;
            padding-right: 15px;
        } /* ... - 1279 */

        &:before {
            content: '';
            position: absolute;
            bottom: 90px;
            display: block;
            width: 1184px;
            height: 310px;
            right: 155px;
            background-size: contain;
            background-image: url("~@/assets/images/registration/register-girls-text.png");
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                left: 10px;
                right: auto;
                width: 592px;
                height: 155px;
                background-image: url("~@/assets/images/registration/register-girls-text-mobile.png");
            } /* ... - 1279 */
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                bottom: 10px;
            } /* ... - 1013 */
        }

        &__title {
            text-align: center;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 45px;
            font-size: 37px;
            line-height: 1.4;
            letter-spacing: 1.8px;
            @media #{map-get($display-breakpoints, 'xs-only')} {
                font-size: 24px;
                line-height: 1.6;
            }
        }

        &__description {
            text-align: center;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 120px !important;
            font-size: 24px;
            line-height: 1.5;
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                margin-bottom: 60px !important;
                font-size: 20px;
                line-height: 1.4;
            }
        }

        &__inner {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &__field {

        }

        &__field--number-with-unit {
            input[type="number"] {
                padding-right: 55px !important;
                padding-left: 55px !important;
                /* ... - 1279 */
                @media #{map-get($display-breakpoints, 'md-and-down')} {
                    padding-left: 40px !important;
                    padding-right: 40px !important;
                } /* ... - 1279 */
            }
        }

        &__field-unit {
            position: absolute;
            right: 15px;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 90px;
            font-family: 'Gilroy';
            font-size: 24px;
            color: #2b396d;
            background-color: #ffffff;
            /* ... - 1429 */
            @media (max-width: 1429px) {
                right: 0;
                width: 40px;
                height: 53px;
                font-size: 16px;
            } /* ... - 1429 */
        }

        &__next {
            max-width: 300px !important;
            height: 80px !important;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 35px;
            .v-btn__content,  &.theme--light.v-btn.v-btn--disabled .v-btn__content i.v-icon {
                color: #ffffff !important;
            }
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                height: 60px !important;
                margin-top: 40px;
            } /* ... - 1279 */
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                height: 75px !important;
            } /* ... - 757 */
        }

        &__back {
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px !important;
            font-weight: bold;
            text-transform: uppercase;
            color: #1f1733;

            .ai-right-arrow {
                transform: rotate(180deg);
                margin-right: 15px;
            }
        }

        .v-progress-linear {
            margin-top: 85px;
            margin-bottom: 25px;
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                margin-top: 40px;
                margin-bottom: 0;
            } /* ... - 1279 */
        }

        .v-stepper {
            flex-grow: 1;
            background-color: transparent;
            box-shadow: none !important;

            &__items {
                display: flex;
                height: 100%;
            }

            &__content {
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    padding-top: 15px;
                    padding-left: 12px;
                    padding-right: 12px;
                } /* ... - 757 */
            }

            p {
                margin-bottom: 0;
                font-size: 22px;
                color: #ffffff;
                /* ... - 1279 */
                @media #{map-get($display-breakpoints, 'md-and-down')} {
                    font-size: 16px;
                } /* ... - 1279 */
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    font-size: 18px;
                    //font-size: 20px;
                    text-align: center;
                } /* ... - 757 */
            }
            .v-stepper__wrapper {
                padding-bottom: 25px;
            }
        }

        &__step {
            @media #{map-get($display-breakpoints, 'xs-only')} {
                padding-bottom: 75px;
            }
            &--0 {
                height: 100%;

                @media #{map-get($display-breakpoints, 'xs-only')} {
                    padding-bottom: 180px;
                }

                .v-stepper__wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
            }
            &--1 {
                padding-bottom: 0;
            }
            &--2 {
                .v-input--radio-group__input {
                    margin-bottom: 45px;
                }
            }
            &--3 {
                padding-bottom: 50px;
            }
            &--4 {
                .v-input.registration__field .v-label {
                    margin-bottom: 15px;
                }
                .v-input.v-text-field.v-input.registration__field .v-messages {
                    top: 22px;
                }
                 .v-stepper__wrapper {
                    /* ... - 1279 */
                    @media #{map-get($display-breakpoints, 'md-and-down')} {
                        padding-bottom: 15px !important;
                    } /* ... - 1279 */
                }
                .registration__next {
                    /* ... - 1279 */
                    @media #{map-get($display-breakpoints, 'md-and-down')} {
                        margin-bottom: 25px;
                    } /* ... - 1279 */
                }
            }
            &--6 {
                .v-input.v-text-field.v-input.registration__field .v-messages {
                    top: auto;
                    bottom: 100px;
                    /* ... - 1279 */
                    @media #{map-get($display-breakpoints, 'md-and-down')} {
                        bottom: 60px;
                    } /* ... - 1279 */
                }
            }
            &--7 {
                .v-input--radio-group__input {
                    margin-bottom: 0;
                    /* ... - 757 */
                    @media #{map-get($display-breakpoints, 'xs-only')} {
                        margin-bottom: 45px;
                    } /* ... - 757 */
                }
            }
            &--8 {
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    min-height: 600px;
                    padding-bottom: 0;
                } /* ... - 757 */
                .v-stepper__wrapper {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }
                .registration__next {
                    margin-top: auto !important;
                }
                .registration__back {
                    margin-bottom: 60px;
                }
            }
            &--13 {
                .v-stepper__wrapper {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }
            }
            &--14 {
                .registration__title {
                    margin-bottom: 25px;
                }
            }
        }
        .v-text-field__slot {
            display: block !important;
        }

        .v-input {
            position: relative;
            margin-top: 0;
            padding-top: 0;

            .v-input__slot {
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    margin-bottom: 5px;
                } /* ... - 757 */

                &:after, &:before {
                    content: none;
                }
            }
            .v-label {
                position: static !important;
                display: block;
                height: auto;
                max-width: none !important;
                transform: none !important;
                margin-bottom: 40px;
                padding-bottom: 0;
                font-size: 22px;
                font-family: "Gilroy", sans-serif;
                color: #ffffff !important;
                font-weight: 500;
                letter-spacing: 1px;
                white-space: normal;
                line-height: 1.4;
                /* ... - 1429 */
                @media (max-width: 1429px) {
                    font-size: 16px;
                    margin-bottom: 15px;
                } /* ... - 1429 */
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    margin-bottom: 7px;
                    text-align: center;
                    font-size: 18px;
                } /* ... - 757 */
            }
            .v-text-field__details {
                min-height: auto;
            }
            &.v-text-field .v-messages {
                position: absolute;
                top: 40px;
                width: 100%;
                /* ... - 1429 */
                @media (max-width: 1429px) {
                    display: none;
                    position: static;
                    &.error--text {
                        display: block;
                    }
                }/* ... - 1429 */
            }
            input[type=text], input[type=number], input[type=password] {
                display: block;
                height: 90px;
                padding: 15px;
                background-color: #ffffff;
                max-height: none;
                color: #1f1733;
                /* ... - 1429 */
                @media (max-width: 1429px) {
                    height: 53px;
                } /* ... - 1429 */
            }
            input[type=number] {
                font-size: 36px;
                text-align: center;
                /* ... - 1279 */
                @media #{map-get($display-breakpoints, 'md-and-down')} {
                    font-size: 24px;
                } /* ... - 1279 */

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    /* display: none; <- Crashes Chrome on hover */
                    -webkit-appearance: none;
                    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
                }
            }
            textarea {
                display: block;
                padding: 15px;
                background-color: #ffffff;
                color: #1f1733;
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    height: 100px; // step 2
                } /* ... - 757 */
            }
            &.error--text {
                input[type=text], textarea {
                    border: 3px solid #ff5a5a;
                }
            }
            .password-eye {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 50px;
                height: 90px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: url("~@/assets/images/icons/password-eye.png");
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                /* ... - 1279 */
                @media #{map-get($display-breakpoints, 'md-and-down')} {
                    height: 53px;
                } /* ... - 1279 */
                &--show {
                    background-image: url("~@/assets/images/icons/password-eye--show.png");
                }
            }
        }

        .v-radio {
            max-width: 370px;

            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                margin-left: auto;
                margin-right: auto;
            } /* ... - 1013 */

            .v-label {
                height: 94px !important;
                padding: 0 15px;
                font-family: "Benzin";
                font-size: 22px;
                line-height: 1.1;
                color: #9c9c9c !important;
                /* ... - 1429 */
                @media (max-width: 1429px) {
                    height: 54px !important;
                    font-size: 17px;
                    letter-spacing: 0.8px;
                } /* ... - 1429 */
            }
        }

        .v-input--selection-controls .v-item--active > .v-label {
            border: 2px solid #1f1733;
            color: #1f1733 !important;
        }

        .v-input--radio-group__column {
            position: relative;
            margin-bottom: 20px;

            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                margin-bottom: 0;
                padding-bottom: 0;
            } /* ... - 757 */

            &:nth-child(odd) {
                padding-right: 48px;

                /* ... - 1013 */
                @media #{map-get($display-breakpoints, 'sm-and-down')} {
                    padding-right: 12px;
                } /* ... - 1013 */
            }
            &:nth-child(even) {
                padding-left: 48px;

                /* ... - 1013 */
                @media #{map-get($display-breakpoints, 'sm-and-down')} {
                    padding-left: 12px;
                } /* ... - 1013 */
            }

            .v-tooltip__content {
                position: absolute;
                top: calc(100% + 10px) !important;
                left: 0;
                right: auto;
                bottom: auto;
                width: 100%;
                max-width: 370px;
                padding: 15px 20px;
                background-color: #e6f5fb;
                border-radius: 0;
                font-family: $body-font-family;
                font-size: 18px;
                letter-spacing: 0;
                line-height: 1.3;
                color: #2b396d;
                &:before {
                    position: absolute;
                    top: -20px;
                    left: 20px;
                    content: '';
                    width: 0;
                    height: 0;
                    border-bottom: 20px solid #e6f5fb;
                    border-right: 30px solid transparent;
                }
            }
        }
        .v-select {
            &__slot {
                display: block;
            }
            &__selection {
                position: absolute;
                bottom: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 94px;
                margin: 0;
                font-size: 22px;
                /* ... - 1429 */
                @media (max-width: 1429px) {
                    height: 53px;
                    font-size: 18px;
                } /* ... - 1429 */
            }
            .v-input__append-inner {
                position: absolute;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                width: 45px;
                height: 94px;
                margin: 0;
                padding: 0;
                /* ... - 1429 */
                @media (max-width: 1429px) {
                    height: 53px;
                } /* ... - 1429 */
            }
        }
    }
</style>
