<template>
    <div class="registration-cropper">
        <p class="mb-2 mb-lg-6" v-show="croppedFileIndex === null">Фото лица и фигуры (обязательно):</p>
        <div class="registration-cropper__buttons" v-show="croppedFileIndex === null">
            <div class="photo-upload-plus-btn">
                <label
                    class="photo-upload-plus-btn__inner"
                    @click="uploadPhoto(0)"
                    :style="{ 'background-image': (croppedPhoto[0] ? 'url('+ croppedPhoto[0] +')' : '') }"
                ></label>
            </div>
            <div class="photo-upload-plus-btn">
                <label
                    class="photo-upload-plus-btn__inner"
                    @click="uploadPhoto(1)"
                    :style="{ 'background-image': (croppedPhoto[1] ? 'url('+ croppedPhoto[1] +')' : '') }"
                ></label>
            </div>
        </div>
        <v-radio-group v-model="processType" v-show="croppedFileIndex !== null && fileName === ''" class="registration-cropper__types">
            <v-row>
                <v-col cols="12" sm="6" class="v-input--radio-group__column">
                    <v-radio
                        label="Загрузить фото"
                        value="upload"
                        @click="$refs.fileInput.click()"
                    ></v-radio>
                </v-col>

                <v-col cols="12" sm="6" class="v-input--radio-group__column">
                    <v-radio
                        label="Сделат снинмок"
                        value="make"
                    ></v-radio>
                </v-col>
            </v-row>
        </v-radio-group>

        <input
            hidden
            type="file"
            class="photo-upload__file-input"
            accept="image/*"
            @change="setSelectedPic($event)"
            ref="fileInput"
        >

        <div class="registration-cropper__image" v-show="croppedSrc">
            <img ref="image" :src="croppedSrc">
        </div>

        <v-btn
            :disabled="blobData === null"
            v-if="croppedFileIndex !== null"
            class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default registration__next mt-auto"
            @click="saveCroppedFile()"
        >
            <span>Дальше</span>
            <v-icon class="ml-3">ai-right-arrow</v-icon>
        </v-btn>

        <button v-if="croppedFileIndex !== null" class="registration__back" @click="cancelUpload">
            <v-icon class="ml-3">ai-right-arrow</v-icon>
            <span>Назад</span>
        </button>
    </div>
</template>


<script>
import Cropper from 'cropperjs';
import 'cropperjs/dist/cropper.css';

export default {
    data() {
        return {
            cropper: null,
            image: {},
            croppedSrc: null,
            croppedFileIndex: null,
            uploadPhotoProcess: false,
            processType: '',
            blobData: null,
            fileName: '',
            croppedPhoto: ['', ''],
        };
    },

    methods: {
        uploadPhoto(croppedFileIndex) {
            this.croppedFileIndex = croppedFileIndex;
            this.uploadPhotoProcess = true;
        },

        setSelectedPic(event) {
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = (readerEvent) => {
                    this.croppedSrc = readerEvent.target.result;
                };
                reader.readAsDataURL(input.files[0]);
                this.fileName = input.files[0].name;
            }
            let timer = null;
            setTimeout(() => {
                this.cropper = new Cropper(this.image, {
                    zoomable: false,
                    crop: () => {
                        clearTimeout(timer);
                        timer = setTimeout(() => {
                            const canvas = this.cropper.getCroppedCanvas();
                            this.blobData = canvas.toDataURL();
                        }, 100);
                    },
                });
            }, 100);
        },

        saveCroppedFile() {
            const uploadFile = new File([this.blobData], this.fileName, { type: 'image/png' });
            this.croppedPhoto.splice(this.croppedFileIndex, 1, this.blobData);
            this.$emit('save-file', { fileIndex: this.croppedFileIndex, file: uploadFile });
            this.cancelUpload();
        },

        cancelUpload() {
            if (this.cropper) {
                this.cropper.destroy();
            }
            this.fileName = '';
            this.blobData = null;
            this.uploadPhotoProcess = false;
            this.croppedFileIndex = null;
            this.croppedSrc = null;
            this.processType = '';
        },
    },

    watch: {
        croppedFileIndex(value) {
            this.$emit('upload-photo-process', (value !== null));
        },
    },

    mounted() {
        this.image = this.$refs.image;
    },
};
</script>


<style lang="scss" scoped>
    .registration-cropper {
        display: flex;
        flex-direction: column;
        height: 100%;

        &__buttons {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            margin-bottom: 75px;
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                margin-bottom: 55px;
            } /* ... - 1279 */
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                justify-content: center;
            } /* ... - 757 */
        }

        &__image {
            position: relative;
            max-width: 692px;
            max-height: 423px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
            /* ... - 1279 */
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                max-width: 484px;
                max-height: 296px;
            } /* ... - 1279 */
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                max-width: 325px;
                max-height: 200px;
            } /* ... - 1013 */
        }
        &__types {
            margin-bottom: 95px;
        }
    }
    .photo-upload-plus-btn {
        width: 260px;
        height: 260px;
        padding: 15px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'sm-and-down')} {
            width: 160px;
            height: 160px;
        } /* ... - 1013 */
    }
    .photo-upload-plus-btn__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border: 2px solid #47b7e5;
        background-color: #4bc5f7;
        cursor: pointer;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .photo-upload-plus-btn__inner:before {
        display: block;
        width: 50px;
        height: 50px;
        background: url("~@/assets/images/icons.png") no-repeat 0 -170px;
        background-size: 60px auto;
        content: "";
    }
    .photo-upload__file-input {
        display: none;
    }
</style>
