<template>
    <div class="profile-details">
        <div class="profile-details__inner">
            <div class="profile-details__items">

                <div class="profile-details-item profile-details-item--target">
                    <div class="profile-details-item__inner">
                        <h3 class="profile-details-item__title">Цель знакомства:</h3>
                        <p class="profile-details-item__text">{{ profile.purposeOfDating }}</p>
                        <img
                            v-if="profile.purposeOfDating === 'Эскорт'"
                            src="~@/assets/images/profile/icons/profile-details-target-escort-icon.png"
                            class="profile-details-item__icon-img"
                            alt="Эскорт"
                        >
                        <img
                            v-if="profile.purposeOfDating === 'Содержанка'"
                            src="~@/assets/images/profile/icons/profile-details-target-kept-woman.png"
                            class="profile-details-item__icon-img"
                            alt="Содержанка"
                        >
                        <img
                            v-if="profile.purposeOfDating === 'Серьезные отношения'"
                            src="~@/assets/images/profile/icons/profile-details-target-serious-relationship.png"
                            class="profile-details-item__icon-img"
                            alt="Серьезные отношения"
                        >
                        <img
                            v-if="profile.purposeOfDating === 'Онлайн общение'"
                            src="~@/assets/images/profile/icons/profile-details-target-online-communication.png"
                            class="profile-details-item__icon-img"
                            alt="Онлайн общение"
                        >
                    </div>
                </div>

                <template v-if="profile.purposeOfDating === 'Эскорт'">
                    <div class="profile-details-item profile-details-item--finances">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Финансы:</h3>
                            <p v-if="profile.oneHourOut" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>1 час (выезд)</strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.oneHourOut }}</span> руб</span>
                            </p>
                            <p v-if="profile.twoHourOut" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>2 часа (выезд):</strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.twoHourOut }}</span> руб</span>
                            </p>
                            <p v-if="profile.nightOut" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>Ночь (выезд):</strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.nightOut }}</span> руб</span>
                            </p>
                            <p v-if="profile.oneHourAtHome" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>1 час (у себя):</strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.oneHourAtHome }}</span> руб</span>
                            </p>
                            <p v-if="profile.twoHourAtHome" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>2 часа (у себя):</strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.twoHourAtHome }}</span> руб</span>
                            </p>
                            <p v-if="profile.nightAtHome" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>Ночь (у себя):</strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.nightAtHome }}</span> руб</span>
                            </p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--sexual-preferences">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Сексуальные предпочтения:</h3>
                            <p class="profile-details-item__text">{{ profile.sexualPreferences ? profile.sexualPreferences : 'Не заполнено' }}</p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--about">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">О себе</h3>
                            <p class="profile-details-item__text">{{ profile.aboutMe ? profile.aboutMe : 'Не заполнено' }}</p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--appearance">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Внешность</h3>
                            <p class="profile-details-item__text"><strong>Рост:</strong> {{ profile.height }} см<br></p>
                            <p class="profile-details-item__text"><strong>Вес:</strong> {{ profile.weight }} кг</p>
                            <p class="profile-details-item__text"><strong>Размер груди:</strong> {{ profile.breastSize }}</p>
                            <p class="profile-details-item__text"><strong>Цвет волос:</strong> {{ profile.heirColor }}</p>
                            <p class="profile-details-item__text"><strong>Цвет глаз:</strong> {{ profile.eyeColor }}</p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--private-information">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Личная информация</h3>
                            <p class="profile-details-item__text">{{ profile.children }}</p>
                            <p class="profile-details-item__text">{{ profile.smoking }}</p>
                            <p class="profile-details-item__text">{{ profile.tatoo }}</p>
                        </div>
                    </div>
                </template>

                <template v-if="profile.purposeOfDating === 'Содержанка'">
                    <div class="profile-details-item profile-details-item--finances">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Финансы:</h3>
                            <p v-if="profile.photoPrice" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>Ожидаемый размер содержания <span style="white-space: nowrap;">(в неделю):</span></strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.weekPrice }}</span> руб</span>
                            </p>
                            <p v-if="profile.videoPrice" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>Ожидаемый размер содержания <span style="white-space: nowrap;">(в месяц):</span></strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.monthPrice }}</span> руб</span>
                            </p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--interests">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Интересы:</h3>
                            <p class="profile-details-item__text">
                                <span v-for="(interest, index) of profile.interests" :key="index">
                                    {{ interest.text }}<template v-if="profile.interests.length !== (1 + index)">, </template>
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--about">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">О себе</h3>
                            <p class="profile-details-item__text">{{ profile.aboutMe ? profile.aboutMe : 'Не заполнено' }}</p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--appearance">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Внешность</h3>
                            <p class="profile-details-item__text"><strong>Рост:</strong> {{ profile.height }} см<br></p>
                            <p class="profile-details-item__text"><strong>Вес:</strong> {{ profile.weight }} кг</p>
                            <p class="profile-details-item__text"><strong>Размер груди:</strong> {{ profile.breastSize }}</p>
                            <p class="profile-details-item__text"><strong>Цвет волос:</strong> {{ profile.heirColor }}</p>
                            <p class="profile-details-item__text"><strong>Цвет глаз:</strong> {{ profile.eyeColor }}</p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--private-information">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Личная информация</h3>
                            <p class="profile-details-item__text">{{ profile.children }}</p>
                            <p class="profile-details-item__text">{{ profile.smoking }}</p>
                            <p class="profile-details-item__text">{{ profile.tatoo }}</p>
                        </div>
                    </div>
                </template>

                <template v-if="profile.purposeOfDating === 'Серьезные отношения'">
                    <div class="profile-details-item profile-details-item--relationship-format">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Формат общения:</h3>
                            <p class="profile-details-item__text">
                                <span v-for="(relationshipFormat, index) of profile.relationshipFormat" :key="index">
                                    {{ relationshipFormat }}<template v-if="profile.relationshipFormat.length !== (1 + index)">, </template>
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--interests">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Интересы:</h3>
                            <p class="profile-details-item__text">
                                    <span v-for="(interest, index) of profile.interests" :key="index">
                                        {{ interest.text }}<template v-if="profile.interests.length !== (1 + index)">, </template>
                                    </span>
                            </p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--about">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">О себе</h3>
                            <p class="profile-details-item__text">{{ profile.aboutMe ? profile.aboutMe : 'Не заполнено' }}</p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--appearance">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Внешность</h3>
                            <p class="profile-details-item__text"><strong>Рост:</strong> {{ profile.height }} см<br></p>
                            <p class="profile-details-item__text"><strong>Вес:</strong> {{ profile.weight }} кг</p>
                            <p class="profile-details-item__text"><strong>Размер груди:</strong> {{ profile.breastSize }}</p>
                            <p class="profile-details-item__text"><strong>Цвет волос:</strong> {{ profile.heirColor }}</p>
                            <p class="profile-details-item__text"><strong>Цвет глаз:</strong> {{ profile.eyeColor }}</p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--private-information">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Личная информация</h3>
                            <p class="profile-details-item__text">{{ profile.children }}</p>
                            <p class="profile-details-item__text">{{ profile.smoking }}</p>
                            <p class="profile-details-item__text">{{ profile.tatoo }}</p>
                        </div>
                    </div>
                </template>

                <template v-if="profile.purposeOfDating === 'Онлайн общение'">
                    <div class="profile-details-item profile-details-item--finances">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Финансы:</h3>
                            <p v-if="profile.photoPrice" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>1 фото:</strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.photoPrice }}</span> руб</span>
                            </p>
                            <p v-if="profile.videoPrice" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>1 видео:</strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.videoPrice }}</span> руб</span>
                            </p>
                            <p v-if="profile.videoChatDuration" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>Длительность видеочата:</strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.videoChatDuration }}</span> мин</span>
                            </p>
                            <p v-if="profile.videoChatPrice" class="profile-details-item__text profile-details-item__text--row">
                                <span><strong>Стоимость видеочата:</strong></span>
                                <span><span class="profile-details-item__text--price">{{ profile.videoChatPrice }}</span> руб</span>
                            </p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--communication-format">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Формат общения:</h3>
                            <p class="profile-details-item__text">{{ profile.communicationFormat ? profile.communicationFormat : 'Не заполнено' }}</p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--about">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">О себе</h3>
                            <p class="profile-details-item__text">{{ profile.aboutMe ? profile.aboutMe : 'Не заполнено' }}</p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--appearance">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Внешность</h3>
                            <p class="profile-details-item__text"><strong>Рост:</strong> {{ profile.height }} см<br></p>
                            <p class="profile-details-item__text"><strong>Вес:</strong> {{ profile.weight }} кг</p>
                            <p class="profile-details-item__text"><strong>Размер груди:</strong> {{ profile.breastSize }}</p>
                            <p class="profile-details-item__text"><strong>Цвет волос:</strong> {{ profile.heirColor }}</p>
                            <p class="profile-details-item__text"><strong>Цвет глаз:</strong> {{ profile.eyeColor }}</p>
                        </div>
                    </div>

                    <div class="profile-details-item profile-details-item--private-information">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Личная информация</h3>
                            <p class="profile-details-item__text">{{ profile.children }}</p>
                            <p class="profile-details-item__text">{{ profile.smoking }}</p>
                            <p class="profile-details-item__text">{{ profile.tatoo }}</p>
                        </div>
                    </div>
                </template>

                <div class="profile-details-gifts">
                    <div class="profile-details-gifts__inner">
                        <h3 class="profile-details-gifts__title">Мои подарки</h3>
                        <span class="profile-details-gifts__icon">+2</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

        };
    },
    props: {
        profile: Object,
    },
    computed: {

    },
    methods: {

    },
};
</script>

