<template>
    <div class="profile-edit-form">
        <div class="profile-edit-form__inner">
            <div class="profile-edit-form__fields">
                <slot :formData="formData" :v$="v$"></slot>
            </div>

            <div class="profile-edit-form__buttons">
                <v-btn
                    class="v-btn--main v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default profile-edit-form__save"
                    @click="save"
                >
                    <span>Сохранить</span>
                </v-btn>
                <v-btn
                    class="v-btn--main--large v-btn v-btn--flat v-btn--text theme--light v-size--default profile-edit-form__cancel"
                    @click="cancel"
                >
                    <span>Отмена</span>
                </v-btn>
            </div>
        </div>
    </div>
</template>

<script>
import useVuelidate from '@vuelidate/core';
import { email, minLength, required, sameAs } from '@vuelidate/validators';

export default {
    data() {
        return {
            cache: {},
            formData: {},
        };
    },
    props: {
        profile: Object,
        validatedFieldsBeforeSaving: Array,
    },
    computed: {
        dateFormat() {
            return this.formData.dateOfBirth;
        },
    },
    methods: {
        save() {
            const newData = JSON.parse(JSON.stringify(this.profile));

            if (this.validatedFieldsBeforeSaving) {
                this.validatedFieldsBeforeSaving.forEach((field) => {
                    if (this.v$.formData[field]) {
                        this.v$.formData[field].$touch();
                    }
                });
                if (this.v$.$errors.length) return;
            }

            Object.keys(newData).forEach((key) => {
                if (this.cache[key] !== this.formData[key]) {
                    newData[key] = this.formData[key];
                }
            });

            this.$store.dispatch('profile/saveProfile', { profile: newData });
            this.$emit('close-edit');
        },

        cancel() {
            this.$emit('close-edit');
        },
    },
    validations() {
        return {
            formData: {
                name: { required, minLength: minLength(3) },
                city: { required },
                purposeOfDating: { required },
                videoPrice: { required },
                photoPrice: { required },
                videoChatDuration: { required },
                videoChatPrice: { required },
                oneHourOut: { required },
                oneHourAtHome: { required },
                twoHourOut: { required },
                twoHourAtHome: { required },
                nightOut: { required },
                nightAtHome: { required },
                sexualPreferences: { required },
                weekPrice: { required },
                monthPrice: { required },
                relationshipFormat: { required },
                interests: { required },
                age: { required },
                height: { required },
                weight: { required },
                breastSize: { required },
                heirColor: { required },
                eyeColor: { required },
                children: { required },
                tatoo: { required },
                smoking: { required },
                communicationFormat: { required },
                photos: { required, minLength: minLength(2) },
                email: { required, email },
                password: { required, minLength: minLength(6) },
                passwordConfirm: { required, sameAsPassword: sameAs(this.formData.password) },
            },
        };
    },
    mounted() {
        this.cache = JSON.parse(JSON.stringify(this.profile));
        this.formData = JSON.parse(JSON.stringify(this.profile));
    },
    setup() {
        return { v$: useVuelidate() };
    },
};
</script>


<style lang="scss">
.profile-edit-form {
    background-color: #ffffff;
    &__inner {
        padding: 20px;
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            padding: 15px 0;
        }
    }
    &__fields {
        margin-bottom: 30px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            max-width: 310px;
            margin-left: auto;
            margin-right: auto;
        } /* ... - 757 */
    }
    &__title {
        width: 100%;
        margin-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
        font-family: $body-font-family;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 0;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            font-size: 20px;
        } /* ... - 757 */
    }
    &__field {
        margin-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding-top: 0;
        }
        .v-input__control {
            align-items: flex-start;
            flex-grow: 0;
            width: auto;
        }
        .v-input__slot {
            position: relative;
            width: auto;
            margin-bottom: 0;
            &:before, &:after {
                content: none !important;
            }
        }
        .v-text-field__slot {
            display: flex;
            align-items: center;
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                justify-content: center;
                align-items: flex-start;
            }
            @media #{map-get($display-breakpoints, 'xs-only')} {
                flex-direction: column;
            }
            label {
                position: static !important;
                transform: none;
                width: 235px;
                font-family: "Gilroy", sans-serif;
                font-weight: 600;
                font-size: 24px;
                line-height: 1.1;
                letter-spacing: 0;
                color: #2b396d;
                white-space: normal;
                word-break: break-word;
                overflow: visible;
                @media #{map-get($display-breakpoints, 'md-and-down')} {
                    height: 30px;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    font-size: 18px;
                    line-height: 30px;
                }
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    min-width: auto;
                }
            }
            input {
                position: static !important;
                display: block;
                max-width: 304px;
                height: 78px;
                max-height: none;
                background-color: #ffffff;
                border: 1px solid $input-color-inactive;
                font-size: 22px;
                color: $input-color-inactive;
                text-align: center;
                -moz-appearance: textfield;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                @media #{map-get($display-breakpoints, 'md-and-down')} {
                    max-width: 278px;
                    height: 52px;
                }
            }
        }
        .v-input__append-inner {
            margin: 0 !important;
            padding: 0 !important;
        }
        &.v-textarea {
            margin-top: 15px;
            .v-input__control {
                width: 100%;
            }
            .v-input__slot {
                width: 100%;
            }
            textarea {
                height: 170px;
                padding: 18px 23px;
                border: 1px solid #251d39;
                border-radius: 2px;
                font-family: $body-font-family;
                font-size: 24px;
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    font-size: 18px;
                } /* ... - 757 */
                &::placeholder {
                    color: #4f5778;
                }
            }
        }
        &.v-input--is-dirty {
            input, textarea {
                color: #1f1733;
                border: 2px solid #1f1733;
            }
        }
    }
    &__unit {
        position: absolute;
        right: 2px;
        bottom: 2px;
        display: flex;
        align-items: center;
        height: 74px;
        width: 59px;
        margin: 0;
        padding: 0;
        font-family: 'Gilroy';
        font-size: 24px;
        color: #2b396d;
        background-color: #ffffff;
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            font-size: 22px;
            width: 49px;
            height: 48px;
        }
    }
    &__radio-group {
        .v-input__control {
            flex-direction: column !important;
        }
        .v-messages {
            display: none;
            text-align: center;
        }
        &.error--text .v-messages {
            display: block;
        }
        .v-input--radio-group__input {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            .profile-edit-form__title {
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    margin-bottom: 10px;
                } /* ... - 757 */
            }
        }
        .v-radio {
            width: 100%;
            max-width: 50%;
            padding: 10px 15px;
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                max-width: none;
                margin-bottom: 15px !important;
                padding: 0 15px;
                &:last-child {
                    margin-bottom: 0 !important;
                }
            } /* ... - 1013 */
        }
        .v-label {
            width: 100% !important;
            height: 78px !important;
            min-height: 78px !important;
            padding-left: 15px;
            padding-right: 15px;
            border: 1px solid #4f5778 !important;
            font-size: 22px !important;
            line-height: 1.3 !important;
            letter-spacing: 0 !important;
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                font-size: 18px !important;
                min-height: 54px !important;
                height: 54px !important;
                padding-left: 5px;
                padding-right: 5px;
            } /* ... - 1013 */
        }
        .v-item--active {
            .v-label {
                width: 100%;
                min-height: 78px;
                border: 2px solid #261e3a !important;
                color: #261e3a !important;
            }
        }
    }
    &__radio-row {
        display: flex;
        align-items: center;
        padding: 16px 15px 0;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            flex-direction: column;
            padding: 4px 7px 0;
        } /* ... - 757 */
        & > label {
            width: auto;
            min-width: 228px;
            height: 40px;
            line-height: 40px;
            font-family: "Gilroy", sans-serif;
            font-weight: 600;
            font-size: 24px;
            color: #2b396d;
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                font-size: 20px;
            }
            @media #{map-get($display-breakpoints, 'xs-only')} {
                width: 100%;
                min-width: auto;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .profile-edit-form__radio-group {
            width: 100%;
            max-width: 320px;
            height: 94px;
            max-height: none;
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                max-width: 292px;
                height: 68px;
            }
        }
        .v-input--radio-group__input,
        .v-input__slot,
        .v-input__control {
            height: 100% !important;
        }
        .v-radio {
            padding: 8px;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                width: 50%;
                margin-bottom: 0 !important;
            } /* ... - 757 */
            .v-label {
                min-width: 143px;
                min-height: auto !important;
                height: 100% !important;
                /* ... - 1279 */
                @media #{map-get($display-breakpoints, 'md-and-down')} {
                    min-width: auto;
                } /* ... - 1279 */
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    min-width: auto;
                } /* ... - 757 */
            }
        }
    }
    &__select {
        display: flex;
        align-items: center;
        padding: 16px 15px 0;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            flex-direction: column;
            padding-top: 4px;
        } /* ... - 757 */
        & > label {
            display: block;
            min-width: 235px;
            height: 40px;
            line-height: 40px;
            font-family: "Gilroy", sans-serif;
            font-weight: 600;
            font-size: 24px;
            color: #2b396d;
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                font-size: 20px;
            }
            @media #{map-get($display-breakpoints, 'xs-only')} {
                width: 100%;
                min-width: auto;
            }
        }
        .v-input {
            width: 100%;
            max-width: 304px;
            height: 78px;
            max-height: none;
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                max-width: 278px;
                height: 52px;
            }
            &--is-dirty {
                .v-input__slot {
                    border: 2px solid #1f1733;
                }
            }
        }
        .v-input__control {
            height: 100%;
        }
        .v-input__slot {
            height: 100%;
            max-height: none;
            min-height: auto !important;
            padding: 0 !important;
            background-color: #ffffff;
            border: 1px solid $input-color-inactive;
            font-size: 22px;
            color: $input-color-inactive;
            text-align: center;
            -moz-appearance: textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                font-size: 18px;
            }
        }
        .v-select__slot {
            height: 100%;
        }

        fieldset {
            max-width: 100%;
            padding: 0;
            border: 0 !important;
        }
        .v-input__append-inner {
            position: absolute;
            right: 10px;
            bottom: 0;
            display: flex;
            align-items: center;
            height: 78px;
            margin-top: 0;
            @media #{map-get($display-breakpoints, 'md-and-down')} {
                height: 52px;
            }
            i:before {
                color: #1f1733;
            }
        }
        .v-select__selections {
            position: relative;
            height: 100%;
            .v-select__selection.v-select__selection--comma {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: none;
                color: #1f1733;
            }
            & > input {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    &__checkbox {
        &-container {
            display: flex;
            flex-wrap: wrap;
        }
        width: 100%;
        max-width: 50%;
        margin-top: 0;
        padding: 10px 15px;
        /* ... - 1013 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            max-width: none;
            margin-bottom: 15px !important;
            padding: 0 15px;
            &:last-child {
                margin-bottom: 0 !important;
            }
        } /* ... - 1013 */
        .v-input--selection-controls__input {
            display: none;
        }
        .v-label {
            justify-content: center;
            width: 100% !important;
            height: 78px !important;
            min-height: 78px !important;
            padding-left: 15px;
            padding-right: 15px;
            border: 1px solid #4f5778 !important;
            font-family: "Benzin" !important;
            font-size: 22px !important;
            line-height: 1.3 !important;
            letter-spacing: 0 !important;
            text-align: center;
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                font-size: 18px !important;
                min-height: 54px !important;
                height: 54px !important;
                padding-left: 5px;
                padding-right: 5px;
            } /* ... - 1013 */
        }
        &.v-input--is-label-active .v-label {
            border: 2px solid #261e3a !important;
            color: #261e3a;
        }
    }
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            flex-direction: column;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 0;
        } /* ... - 757 */
    }
    &__save.v-btn--main--large:not(.v-btn--round).v-size--default {
        width: 300px;
        height: 75px;
        margin-right: 25px;
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            width: 100%;
            max-width: 280px;
            height: 70px;
            margin-right: 0;
            margin-bottom: 10px;
            font-size: 17px;
        }
    }
    &__cancel.v-btn:not(.v-btn--round).v-size--default {
        width: 250px;
        height: 75px;
        background-color: transparent;
        box-shadow: none;
        letter-spacing: 0;
        @media #{map-get($display-breakpoints, 'xl-only')} {
            width: 280px;
            height: 60px;
            font-size: 17px;
        }
    }
    .v-text-field__details {
        display: none;
        margin-left: auto;
        margin-right: 0;
    }
    .error--text .v-text-field__details {
        display: block;
    }
    .registration-interests {
        padding-left: 15px;
        padding-right: 15px;
        &-item {
            border: 2px solid var(--v-primary-base);
            background-color: transparent;
        }
    }
}

.profile-edit-form-select {
    .v-list-item {
        font-family: "Benzin";
        font-size: 20px;
        color: #4f5778 !important;
        .v-list-item__title {
            text-align: center;
        }
        &--highlighted {
            background-image: url("~@/assets/images/profile/icons/profile-details-select-highlighted-icon.png");
            background-repeat: no-repeat;
            background-position: 90% center;
            &:before {
                background-color: transparent;
            }
            .v-list-item__title {
                color: #1f1733 !important;
            }
        }
    }
}
</style>
