<template>
    <nav class="faq-page-menu" v-click-outside="hideMenu" :class="{'faq-page-menu--open': visible}">
        <v-btn class="faq-page-menu__button" @click="visible = !visible"></v-btn>
        <v-slide-x-transition>
            <ul class="faq-page-menu__list" v-show="(!$vuetify.breakpoint.xs/* && !$vuetify.breakpoint.sm*/) || visible">
                <li class="faq-page-menu__item faq-page-menu__item--active">
                    <router-link :to="'/'">
                        Популярные вопросы
                    </router-link>
                </li>
                <li class="faq-page-menu__item">
                    <router-link :to="'/'">
                        О Protege
                    </router-link>
                </li>
                <li class="faq-page-menu__item">
                    <router-link :to="'/'">
                        Настройка профиля
                    </router-link>
                </li>
                <li class="faq-page-menu__item">
                    <router-link :to="'/'">
                        Поиск
                    </router-link>
                </li>
                <li class="faq-page-menu__item">
                    <router-link :to="'/'">
                        Премиум статус
                    </router-link>
                </li>
                <li class="faq-page-menu__item">
                    <router-link :to="'/'">
                        Проблемы в фото
                    </router-link>
                </li>
                <li class="faq-page-menu__item">
                    <router-link :to="'/'">
                        Сообщения
                    </router-link>
                </li>
                <li class="faq-page-menu__item">
                    <router-link :to="'/'">
                        Уведомления
                    </router-link>
                </li>
            </ul>
        </v-slide-x-transition>
    </nav>
</template>

<script>
export default {
    data() {
        return {
            visible: false,
        };
    },
    methods: {
        hideMenu() {
            this.visible = false;
        },
    },
};
</script>

<style lang="scss">
.faq-page-menu {
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        position: fixed !important;
        top: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        z-index: 999;
        width: 0;
        //padding-top: 165px;
    } /* ... - 757 */
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        padding-top: 100px;
    } /* ... - 757 */
    &__button {
        display: none;
        width: 100% !important;
        min-width: 82px !important;
        height: 73px !important;
        background-image: url("~@/assets/images/faq/icons/faq-menu-button-icon.png");
        background-repeat: no-repeat;
        background-color: #edf0fa !important;
        background-position: 23px center;
        box-shadow: none;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            display: block;
        } /* ... - 757 */
        &:before {
            content: none;
        }
    }
    &__list {
        padding-left: 10px !important;
        list-style: none;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            padding: 0 20px 15px 20px !important;
        } /* ... - 757 */
    }
    &__item {
        margin-bottom: 15px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 18px;
        } /* ... - 757 */
        &:last-child {
            margin-bottom: 0;
        }

        a {
            display: inline-flex;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            color: #2b396d;
            text-decoration: none;
            /* ... - 1013 */
            @media #{map-get($display-breakpoints, 'sm-and-down')} {
                font-size: 16px;
            } /* ... - 1013 */
        }

        &--active {
            margin-top: 30px;
            margin-bottom: 30px;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                &:first-child {
                    margin-top: 10px;
                }
            } /* ... - 757 */
            & a {
                font-size: 20px;
                font-weight: 900;
                /* ... - 1013 */
                @media #{map-get($display-breakpoints, 'sm-and-down')} {
                    font-size: 16px;
                }/* ... - 1013 */
                &:after {
                    content: '';
                    flex-shrink: 0;
                    display: block;
                    width: 27px;
                    height: 13px;
                    margin-left: 20px;
                    background-image: url("~@/assets/images/faq/icons/faq-active-menu-icon.png");
                    /* ... - 1013 */
                    @media #{map-get($display-breakpoints, 'sm-and-down')} {
                        margin-left: 8px;
                    } /* ... - 1013 */
                }
            }
        }
    }
    &--open {
        width: auto;
        background-color: #edf0fa !important;
        .faq-page-menu__button {
            background-image: url("~@/assets/images/faq/icons/faq-menu-button-open-icon.png");
        }
    }
}
</style>
