<template>
    <div class="profile-details">
        <div class="profile-details__inner">
            <div class="profile-details__items">

                <div class="profile-details-item profile-details-item--target">
                    <template v-if="!editPurposeOfDating">
                        <div class="profile-details-item__inner">
                            <h3 class="profile-details-item__title">Цель знакомства:</h3>
                            <p class="profile-details-item__text">{{ profile.purposeOfDating }}</p>
                            <img
                                v-if="profile.purposeOfDating === 'Эскорт'"
                                src="~@/assets/images/profile/icons/profile-details-target-escort-icon.png"
                                class="profile-details-item__icon-img profile-details-item__icon-img--edit"
                                alt="Эскорт"
                            >
                            <img
                                v-if="profile.purposeOfDating === 'Содержанка'"
                                src="~@/assets/images/profile/icons/profile-details-target-kept-woman.png"
                                class="profile-details-item__icon-img"
                                alt="Содержанка"
                            >
                            <img
                                v-if="profile.purposeOfDating === 'Серьезные отношения'"
                                src="~@/assets/images/profile/icons/profile-details-target-serious-relationship.png"
                                class="profile-details-item__icon-img"
                                alt="Серьезные отношения"
                            >
                            <img
                                v-if="profile.purposeOfDating === 'Онлайн общение'"
                                src="~@/assets/images/profile/icons/profile-details-target-online-communication.png"
                                class="profile-details-item__icon-img"
                                alt="Онлайн общение"
                            >
                        </div>
                        <v-btn class="profile-edit" @click="editPurposeOfDating = true">
                            <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                        </v-btn>
                    </template>

                    <profile-edit
                        v-else
                        :profile="profile"
                        v-slot:default="purposeOfDatingProps"
                        @close-edit="editPurposeOfDating = false"
                        :validatedFieldsBeforeSaving="['purposeOfDating']"
                    >
                        <v-radio-group
                            class="profile-edit-form__radio-group"
                            v-model="purposeOfDatingProps.v$.formData.purposeOfDating.$model"
                            :error="$hasError(purposeOfDatingProps.v$.formData.purposeOfDating)"
                            :error-messages="$getErrorMessage(purposeOfDatingProps.v$.formData.purposeOfDating)"
                        >
                            <h3 class="profile-edit-form__title">Цель:</h3>
                            <v-radio
                                label="Онлайн общение"
                                value="Онлайн общение"
                            ></v-radio>
                            <v-radio
                                label="Эскорт"
                                value="Эскорт"
                            ></v-radio>
                            <v-radio
                                label="Содержанка"
                                value="Содержанка"
                            ></v-radio>
                            <v-radio
                                label="Серьезные отношения"
                                value="Серьезные отношения"
                            ></v-radio>
                        </v-radio-group>
                    </profile-edit>
                </div>

                <template v-if="profile.purposeOfDating === 'Эскорт'">
                    <div class="profile-details-item profile-details-item--finances">
                        <template v-if="!editFinances">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Финансы:</h3>
                                <p v-if="profile.oneHourOut" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>1 час (выезд)</strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.oneHourOut }}</span> руб</span>
                                </p>
                                <p v-if="profile.twoHourOut" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>2 часа (выезд):</strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.twoHourOut }}</span> руб</span>
                                </p>
                                <p v-if="profile.nightOut" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>Ночь (выезд):</strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.nightOut }}</span> руб</span>
                                </p>
                                <p v-if="profile.oneHourAtHome" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>1 час (у себя):</strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.oneHourAtHome }}</span> руб</span>
                                </p>
                                <p v-if="profile.twoHourAtHome" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>2 часа (у себя):</strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.twoHourAtHome }}</span> руб</span>
                                </p>
                                <p v-if="profile.nightAtHome" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>Ночь (у себя):</strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.nightAtHome }}</span> руб</span>
                                </p>
                            </div>
                            <v-btn class="profile-edit" @click="editFinances = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="financesProps"
                            @close-edit="editFinances = false"
                        >
                            <h3 class="profile-edit-form__title">Стоимость</h3>
                            <v-text-field
                                label="1 час (выезд):"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.oneHourOut"
                                hide-details
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >руб</span>
                            </v-text-field>

                            <v-text-field
                                label="2 часа (выезд):"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.twoHourOut"
                                hide-details
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >руб</span>
                            </v-text-field>

                            <v-text-field
                                label="Ночь (выезд):"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.nightOut"
                                hide-details
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >руб</span>
                            </v-text-field>

                            <v-text-field
                                label="1 час (выезд):"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.oneHourAtHome"
                                hide-details
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >руб</span>
                            </v-text-field>

                            <v-text-field
                                label="2 часа (выезд):"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.twoHourAtHome"
                                hide-details
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >руб</span>
                            </v-text-field>

                            <v-text-field
                                label="Ночь (выезд):"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.nightAtHome"
                                hide-details
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >руб</span>
                            </v-text-field>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--sexual-preferences">
                        <template v-if="!editSexualPreferences">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Сексуальные предпочтения:</h3>
                                <p class="profile-details-item__text">{{ profile.sexualPreferences ? profile.sexualPreferences : 'Не заполнено' }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editSexualPreferences = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>
                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="sexualPreferencesProps"
                            @close-edit="editSexualPreferences = false"
                        >
                            <h3 class="profile-edit-form__title">Сексуальные предпочтения</h3>
                            <v-textarea
                                class="profile-edit-form__field"
                                v-model="sexualPreferencesProps.formData.sexualPreferences"
                                placeholder="Расскажите о своих предпочтениях"
                                hide-details
                            >
                            </v-textarea>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--about">
                        <template v-if="!editAboutMe">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">О себе</h3>
                                <p class="profile-details-item__text">{{ profile.aboutMe ? profile.aboutMe : 'Не заполнено' }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editAboutMe = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="aboutMeProps"
                            @close-edit="editAboutMe = false"
                        >
                            <h3 class="profile-edit-form__title">О себе</h3>
                            <v-textarea
                                class="profile-edit-form__field"
                                v-model="aboutMeProps.formData.aboutMe"
                                placeholder="Расскажите о себе"
                                hide-details
                            >
                            </v-textarea>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--appearance">
                        <template v-if="!editAppearance">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Внешность</h3>
                                <p class="profile-details-item__text"><strong>Рост:</strong> {{ profile.height }} см<br></p>
                                <p class="profile-details-item__text"><strong>Вес:</strong> {{ profile.weight }} кг</p>
                                <p class="profile-details-item__text"><strong>Размер груди:</strong> {{ profile.breastSize }}</p>
                                <p class="profile-details-item__text"><strong>Цвет волос:</strong> {{ profile.heirColor }}</p>
                                <p class="profile-details-item__text"><strong>Цвет глаз:</strong> {{ profile.eyeColor }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editAppearance = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="aboutAppearanceProps"
                            @close-edit="editAppearance = false"
                            :validatedFieldsBeforeSaving="['height', 'weight']"
                        >
                            <h3 class="profile-edit-form__title">Внешность</h3>

                            <v-text-field
                                label="Рост:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="aboutAppearanceProps.v$.formData.height.$model"
                                :error="$hasError(aboutAppearanceProps.v$.formData.height)"
                                :error-messages="$getErrorMessage(aboutAppearanceProps.v$.formData.height)"
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >см</span>
                            </v-text-field>

                            <v-text-field
                                label="Вес:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="aboutAppearanceProps.v$.formData.weight.$model"
                                :error="$hasError(aboutAppearanceProps.v$.formData.weight)"
                                :error-messages="$getErrorMessage(aboutAppearanceProps.v$.formData.weight)"
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >кг</span>
                            </v-text-field>

                            <div class="profile-edit-form__select">
                                <label for="breastSizesSelect">Размер груди:</label>
                                <v-select
                                    id="breastSizesSelect"
                                    v-model="aboutAppearanceProps.formData.breastSize"
                                    :items="breastSizes"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="heirColorsSelect">Цвет волос:</label>
                                <v-select
                                    id="heirColorsSelect"
                                    v-model="aboutAppearanceProps.formData.heirColor"
                                    :items="heirColors"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="eyeColorSelect">Цвет глаз:</label>
                                <v-select
                                    id="eyeColorSelect"
                                    v-model="aboutAppearanceProps.formData.eyeColor"
                                    :items="eyeColors"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--private-information">
                        <template v-if="!editPrivateInformation">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Личная информация</h3>
                                <p class="profile-details-item__text">{{ profile.children }}</p>
                                <p class="profile-details-item__text">{{ profile.smoking }}</p>
                                <p class="profile-details-item__text">{{ profile.tatoo }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editPrivateInformation = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>
                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="privateInformationProps"
                            @close-edit="editPrivateInformation = false"
                        >
                            <h3 class="profile-edit-form__title">Личная информация</h3>
                            <div class="profile-edit-form__radio-row">
                                <label for="childrenRadiogroup">Дети:</label>
                                <v-radio-group
                                    id="childrenRadiogroup"
                                    v-model="privateInformationProps.formData.children"
                                    class="profile-edit-form__radio-group"
                                    hide-details
                                >
                                    <v-radio
                                        label="Да"
                                        value="Есть дети"
                                    ></v-radio>
                                    <v-radio
                                        label="Нет"
                                        value="Нет детей"
                                    ></v-radio>
                                </v-radio-group>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="smokingSelect">Курение:</label>
                                <v-select
                                    id="smokingSelect"
                                    v-model="privateInformationProps.formData.smoking"
                                    :items="smokingList"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__radio-row">
                                <label for="tatooRadiogroup">Татуировки:</label>
                                <v-radio-group
                                    id="tatooRadiogroup"
                                    v-model="privateInformationProps.formData.tatoo"
                                    class="profile-edit-form__radio-group"
                                    hide-details
                                >
                                    <v-radio
                                        label="Да"
                                        value="Есть татуировки"
                                    ></v-radio>
                                    <v-radio
                                        label="Нет"
                                        value="Нет татуировок"
                                    ></v-radio>
                                </v-radio-group>
                            </div>
                        </profile-edit>
                    </div>
                </template>

                <template v-if="profile.purposeOfDating === 'Содержанка'">
                    <div class="profile-details-item profile-details-item--finances">
                        <template v-if="!editFinances">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Финансы:</h3>
                                <p v-if="profile.photoPrice" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>Ожидаемый размер содержания <span style="white-space: nowrap;">(в неделю):</span></strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.weekPrice }}</span> руб</span>
                                </p>
                                <p v-if="profile.videoPrice" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>Ожидаемый размер содержания <span style="white-space: nowrap;">(в месяц):</span></strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.monthPrice }}</span> руб</span>
                                </p>
                            </div>
                            <v-btn class="profile-edit" @click="editFinances = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="financesProps"
                            @close-edit="editFinances = false"
                        >
                            <h3 class="profile-edit-form__title">Стоимость</h3>

                            <v-text-field
                                label="Содержание (в неделю):"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.weekPrice"
                                hide-details
                            >
                                <span
                                    slot="append"
                                    class="profile-edit-form__unit"
                                >руб</span>
                            </v-text-field>

                            <v-text-field
                                label="Содержание (в месяц):"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.monthPrice"
                                hide-details
                            >
                                <span
                                    slot="append"
                                    class="profile-edit-form__unit"
                                >руб</span>
                            </v-text-field>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--interests">
                        <template v-if="!editInterests">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Интересы:</h3>
                                <p class="profile-details-item__text">
                                    <span v-for="(interest, index) of profile.interests" :key="index">
                                        {{ interest.text }}<template v-if="profile.interests.length !== (1 + index)">, </template>
                                    </span>
                                </p>
                            </div>
                            <v-btn class="profile-edit" @click="editInterests = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="interestsProps"
                            @close-edit="editInterests = false"
                        >
                            <h3 class="profile-edit-form__title">Интересы:</h3>

                            <RegistrationInterests
                                :allInterests="interestsList"
                                :selectedItems="interestsProps.formData.interests"
                                @update-interest="(interests) => {interestsProps.formData.interests = interests;}"
                            />
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--about">
                        <template v-if="!editAboutMe">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">О себе</h3>
                                <p class="profile-details-item__text">{{ profile.aboutMe ? profile.aboutMe : 'Не заполнено' }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editAboutMe = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="aboutMeProps"
                            @close-edit="editAboutMe = false"
                        >
                            <h3 class="profile-edit-form__title">О себе</h3>
                            <v-textarea
                                class="profile-edit-form__field"
                                v-model="aboutMeProps.formData.aboutMe"
                                placeholder="Расскажите о себе"
                                hide-details
                            >
                            </v-textarea>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--appearance">
                        <template v-if="!editAppearance">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Внешность</h3>
                                <p class="profile-details-item__text"><strong>Рост:</strong> {{ profile.height }} см<br></p>
                                <p class="profile-details-item__text"><strong>Вес:</strong> {{ profile.weight }} кг</p>
                                <p class="profile-details-item__text"><strong>Размер груди:</strong> {{ profile.breastSize }}</p>
                                <p class="profile-details-item__text"><strong>Цвет волос:</strong> {{ profile.heirColor }}</p>
                                <p class="profile-details-item__text"><strong>Цвет глаз:</strong> {{ profile.eyeColor }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editAppearance = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="aboutAppearanceProps"
                            @close-edit="editAppearance = false"
                            :validatedFieldsBeforeSaving="['height', 'weight']"
                        >
                            <h3 class="profile-edit-form__title">Внешность</h3>

                            <v-text-field
                                label="Рост:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="aboutAppearanceProps.v$.formData.height.$model"
                                :error="$hasError(aboutAppearanceProps.v$.formData.height)"
                                :error-messages="$getErrorMessage(aboutAppearanceProps.v$.formData.height)"
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >см</span>
                            </v-text-field>

                            <v-text-field
                                label="Вес:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="aboutAppearanceProps.v$.formData.weight.$model"
                                :error="$hasError(aboutAppearanceProps.v$.formData.weight)"
                                :error-messages="$getErrorMessage(aboutAppearanceProps.v$.formData.weight)"
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >кг</span>
                            </v-text-field>

                            <div class="profile-edit-form__select">
                                <label for="breastSizesSelect">Размер груди:</label>
                                <v-select
                                    id="breastSizesSelect"
                                    v-model="aboutAppearanceProps.formData.breastSize"
                                    :items="breastSizes"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="heirColorsSelect">Цвет волос:</label>
                                <v-select
                                    id="heirColorsSelect"
                                    v-model="aboutAppearanceProps.formData.heirColor"
                                    :items="heirColors"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="eyeColorSelect">Цвет глаз:</label>
                                <v-select
                                    id="eyeColorSelect"
                                    v-model="aboutAppearanceProps.formData.eyeColor"
                                    :items="eyeColors"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--private-information">
                        <template v-if="!editPrivateInformation">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Личная информация</h3>
                                <p class="profile-details-item__text">{{ profile.children }}</p>
                                <p class="profile-details-item__text">{{ profile.smoking }}</p>
                                <p class="profile-details-item__text">{{ profile.tatoo }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editPrivateInformation = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>
                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="privateInformationProps"
                            @close-edit="editPrivateInformation = false"
                        >
                            <h3 class="profile-edit-form__title">Личная информация</h3>
                            <div class="profile-edit-form__radio-row">
                                <label for="childrenRadiogroup">Дети:</label>
                                <v-radio-group
                                    id="childrenRadiogroup"
                                    v-model="privateInformationProps.formData.children"
                                    class="profile-edit-form__radio-group"
                                    hide-details
                                >
                                    <v-radio
                                        label="Да"
                                        value="Есть дети"
                                    ></v-radio>
                                    <v-radio
                                        label="Нет"
                                        value="Нет детей"
                                    ></v-radio>
                                </v-radio-group>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="smokingSelect">Курение:</label>
                                <v-select
                                    id="smokingSelect"
                                    v-model="privateInformationProps.formData.smoking"
                                    :items="smokingList"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__radio-row">
                                <label for="tatooRadiogroup">Татуировки:</label>
                                <v-radio-group
                                    id="tatooRadiogroup"
                                    v-model="privateInformationProps.formData.tatoo"
                                    class="profile-edit-form__radio-group"
                                    hide-details
                                >
                                    <v-radio
                                        label="Да"
                                        value="Есть татуировки"
                                    ></v-radio>
                                    <v-radio
                                        label="Нет"
                                        value="Нет татуировок"
                                    ></v-radio>
                                </v-radio-group>
                            </div>
                        </profile-edit>
                    </div>
                </template>

                <template v-if="profile.purposeOfDating === 'Серьезные отношения'">
                    <div class="profile-details-item profile-details-item--relationship-format">
                        <template v-if="!editRelationshipFormat">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Формат общения:</h3>
                                <p class="profile-details-item__text">
                                    <span v-for="(relationshipFormat, index) of profile.relationshipFormat" :key="index">
                                        {{ relationshipFormat }}<template v-if="profile.relationshipFormat.length !== (1 + index)">, </template>
                                    </span>
                                </p>
                            </div>
                            <v-btn class="profile-edit" @click="editRelationshipFormat = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="relationshipFormatProps"
                            @close-edit="editRelationshipFormat = false"
                        >
                            <h3 class="profile-edit-form__title">Формат общения:</h3>
                            <div class="profile-edit-form__checkbox-container">
                                <v-checkbox
                                    class="profile-edit-form__checkbox"
                                    v-model="relationshipFormatProps.formData.relationshipFormat"
                                    v-for="(relationshipFormat, index) in relationshipFormatList"
                                    :key="index"
                                    :label="relationshipFormat"
                                    :value="relationshipFormat"
                                    hide-details
                                ></v-checkbox>
                            </div>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--interests">
                        <template v-if="!editInterests">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Интересы:</h3>
                                <p class="profile-details-item__text">
                                    <span v-for="(interest, index) of profile.interests" :key="index">
                                        {{ interest.text }}<template v-if="profile.interests.length !== (1 + index)">, </template>
                                    </span>
                                </p>
                            </div>
                            <v-btn class="profile-edit" @click="editInterests = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="interestsProps"
                            @close-edit="editInterests = false"
                        >
                            <h3 class="profile-edit-form__title">Интересы:</h3>

                            <RegistrationInterests
                                :allInterests="interestsList"
                                :selectedItems="interestsProps.formData.interests"
                                @update-interest="(interests) => {interestsProps.formData.interests = interests;}"
                            />
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--about">
                        <template v-if="!editAboutMe">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">О себе</h3>
                                <p class="profile-details-item__text">{{ profile.aboutMe ? profile.aboutMe : 'Не заполнено' }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editAboutMe = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="aboutMeProps"
                            @close-edit="editAboutMe = false"
                        >
                            <h3 class="profile-edit-form__title">О себе</h3>
                            <v-textarea
                                class="profile-edit-form__field"
                                v-model="aboutMeProps.formData.aboutMe"
                                placeholder="Расскажите о себе"
                                hide-details
                            >
                            </v-textarea>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--appearance">
                        <template v-if="!editAppearance">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Внешность</h3>
                                <p class="profile-details-item__text"><strong>Рост:</strong> {{ profile.height }} см<br></p>
                                <p class="profile-details-item__text"><strong>Вес:</strong> {{ profile.weight }} кг</p>
                                <p class="profile-details-item__text"><strong>Размер груди:</strong> {{ profile.breastSize }}</p>
                                <p class="profile-details-item__text"><strong>Цвет волос:</strong> {{ profile.heirColor }}</p>
                                <p class="profile-details-item__text"><strong>Цвет глаз:</strong> {{ profile.eyeColor }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editAppearance = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="aboutAppearanceProps"
                            @close-edit="editAppearance = false"
                            :validatedFieldsBeforeSaving="['height', 'weight']"
                        >
                            <h3 class="profile-edit-form__title">Внешность</h3>

                            <v-text-field
                                label="Рост:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="aboutAppearanceProps.v$.formData.height.$model"
                                :error="$hasError(aboutAppearanceProps.v$.formData.height)"
                                :error-messages="$getErrorMessage(aboutAppearanceProps.v$.formData.height)"
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >см</span>
                            </v-text-field>

                            <v-text-field
                                label="Вес:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="aboutAppearanceProps.v$.formData.weight.$model"
                                :error="$hasError(aboutAppearanceProps.v$.formData.weight)"
                                :error-messages="$getErrorMessage(aboutAppearanceProps.v$.formData.weight)"
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >кг</span>
                            </v-text-field>

                            <div class="profile-edit-form__select">
                                <label for="breastSizesSelect">Размер груди:</label>
                                <v-select
                                    id="breastSizesSelect"
                                    v-model="aboutAppearanceProps.formData.breastSize"
                                    :items="breastSizes"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="heirColorsSelect">Цвет волос:</label>
                                <v-select
                                    id="heirColorsSelect"
                                    v-model="aboutAppearanceProps.formData.heirColor"
                                    :items="heirColors"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="eyeColorSelect">Цвет глаз:</label>
                                <v-select
                                    id="eyeColorSelect"
                                    v-model="aboutAppearanceProps.formData.eyeColor"
                                    :items="eyeColors"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--private-information">
                        <template v-if="!editPrivateInformation">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Личная информация</h3>
                                <p class="profile-details-item__text">{{ profile.children }}</p>
                                <p class="profile-details-item__text">{{ profile.smoking }}</p>
                                <p class="profile-details-item__text">{{ profile.tatoo }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editPrivateInformation = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>
                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="privateInformationProps"
                            @close-edit="editPrivateInformation = false"
                        >
                            <h3 class="profile-edit-form__title">Личная информация</h3>
                            <div class="profile-edit-form__radio-row">
                                <label for="childrenRadiogroup">Дети:</label>
                                <v-radio-group
                                    id="childrenRadiogroup"
                                    v-model="privateInformationProps.formData.children"
                                    class="profile-edit-form__radio-group"
                                    hide-details
                                >
                                    <v-radio
                                        label="Да"
                                        value="Есть дети"
                                    ></v-radio>
                                    <v-radio
                                        label="Нет"
                                        value="Нет детей"
                                    ></v-radio>
                                </v-radio-group>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="smokingSelect">Курение:</label>
                                <v-select
                                    id="smokingSelect"
                                    v-model="privateInformationProps.formData.smoking"
                                    :items="smokingList"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__radio-row">
                                <label for="tatooRadiogroup">Татуировки:</label>
                                <v-radio-group
                                    id="tatooRadiogroup"
                                    v-model="privateInformationProps.formData.tatoo"
                                    class="profile-edit-form__radio-group"
                                    hide-details
                                >
                                    <v-radio
                                        label="Да"
                                        value="Есть татуировки"
                                    ></v-radio>
                                    <v-radio
                                        label="Нет"
                                        value="Нет татуировок"
                                    ></v-radio>
                                </v-radio-group>
                            </div>
                        </profile-edit>
                    </div>
                </template>

                <template v-if="profile.purposeOfDating === 'Онлайн общение'">
                    <div class="profile-details-item profile-details-item--finances">
                        <template v-if="!editFinances">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Финансы:</h3>
                                <p v-if="profile.photoPrice" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>1 фото:</strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.photoPrice }}</span> руб</span>
                                </p>
                                <p v-if="profile.videoPrice" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>1 видео:</strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.videoPrice }}</span> руб</span>
                                </p>
                                <p v-if="profile.videoChatDuration" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>Длительность видеочата:</strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.videoChatDuration }}</span> мин</span>
                                </p>
                                <p v-if="profile.videoChatPrice" class="profile-details-item__text profile-details-item__text--row">
                                    <span><strong>Стоимость видеочата:</strong></span>
                                    <span><span class="profile-details-item__text--price">{{ profile.videoChatPrice }}</span> руб</span>
                                </p>
                            </div>
                            <v-btn class="profile-edit" @click="editFinances = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="financesProps"
                            @close-edit="editFinances = false"
                        >
                            <h3 class="profile-edit-form__title">Стоимость</h3>

                            <v-text-field
                                label="1 фото:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.photoPrice"
                                hide-details
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >руб</span>
                            </v-text-field>

                            <v-text-field
                                label="1 видео:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.videoPrice"
                                hide-details
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >руб</span>
                            </v-text-field>

                            <v-text-field
                                label="Длительность видеочата:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.videoChatDuration"
                                hide-details
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >мин</span>
                            </v-text-field>

                            <v-text-field
                                label="Стоимость видеочата:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="financesProps.formData.videoChatPrice"
                                hide-details
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >руб</span>
                            </v-text-field>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--communication-format">
                        <template v-if="!editCommunicationFormat">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Формат общения:</h3>
                                <p class="profile-details-item__text">{{ profile.communicationFormat ? profile.communicationFormat : 'Не заполнено' }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editCommunicationFormat = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="communicationFormatProps"
                            @close-edit="editCommunicationFormat = false"
                        >
                            <h3 class="profile-edit-form__title">Формат общения:</h3>
                            <v-textarea
                                class="profile-edit-form__field"
                                v-model="communicationFormatProps.formData.communicationFormat"
                                placeholder="Расскажите о себе"
                                hide-details
                            >
                            </v-textarea>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--about">
                        <template v-if="!editAboutMe">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">О себе</h3>
                                <p class="profile-details-item__text">{{ profile.aboutMe ? profile.aboutMe : 'Не заполнено' }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editAboutMe = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="aboutMeProps"
                            @close-edit="editAboutMe = false"
                        >
                            <h3 class="profile-edit-form__title">О себе</h3>
                            <v-textarea
                                class="profile-edit-form__field"
                                v-model="aboutMeProps.formData.aboutMe"
                                placeholder="Расскажите о себе"
                                hide-details
                            >
                            </v-textarea>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--appearance">
                        <template v-if="!editAppearance">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Внешность</h3>
                                <p class="profile-details-item__text"><strong>Рост:</strong> {{ profile.height }} см<br></p>
                                <p class="profile-details-item__text"><strong>Вес:</strong> {{ profile.weight }} кг</p>
                                <p class="profile-details-item__text"><strong>Размер груди:</strong> {{ profile.breastSize }}</p>
                                <p class="profile-details-item__text"><strong>Цвет волос:</strong> {{ profile.heirColor }}</p>
                                <p class="profile-details-item__text"><strong>Цвет глаз:</strong> {{ profile.eyeColor }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editAppearance = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>

                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="aboutAppearanceProps"
                            @close-edit="editAppearance = false"
                            :validatedFieldsBeforeSaving="['height', 'weight']"
                        >
                            <h3 class="profile-edit-form__title">Внешность</h3>

                            <v-text-field
                                label="Рост:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="aboutAppearanceProps.v$.formData.height.$model"
                                :error="$hasError(aboutAppearanceProps.v$.formData.height)"
                                :error-messages="$getErrorMessage(aboutAppearanceProps.v$.formData.height)"
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >см</span>
                            </v-text-field>

                            <v-text-field
                                label="Вес:"
                                type="number"
                                min="0"
                                class="profile-edit-form__field"
                                v-model="aboutAppearanceProps.v$.formData.weight.$model"
                                :error="$hasError(aboutAppearanceProps.v$.formData.weight)"
                                :error-messages="$getErrorMessage(aboutAppearanceProps.v$.formData.weight)"
                            >
                            <span
                                slot="append"
                                class="profile-edit-form__unit"
                            >кг</span>
                            </v-text-field>

                            <div class="profile-edit-form__select">
                                <label for="breastSizesSelect">Размер груди:</label>
                                <v-select
                                    id="breastSizesSelect"
                                    v-model="aboutAppearanceProps.formData.breastSize"
                                    :items="breastSizes"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="heirColorsSelect">Цвет волос:</label>
                                <v-select
                                    id="heirColorsSelect"
                                    v-model="aboutAppearanceProps.formData.heirColor"
                                    :items="heirColors"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="eyeColorSelect">Цвет глаз:</label>
                                <v-select
                                    id="eyeColorSelect"
                                    v-model="aboutAppearanceProps.formData.eyeColor"
                                    :items="eyeColors"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>
                        </profile-edit>
                    </div>

                    <div class="profile-details-item profile-details-item--private-information">
                        <template v-if="!editPrivateInformation">
                            <div class="profile-details-item__inner">
                                <h3 class="profile-details-item__title">Личная информация</h3>
                                <p class="profile-details-item__text">{{ profile.children }}</p>
                                <p class="profile-details-item__text">{{ profile.smoking }}</p>
                                <p class="profile-details-item__text">{{ profile.tatoo }}</p>
                            </div>
                            <v-btn class="profile-edit" @click="editPrivateInformation = true">
                                <img src="@/assets/images/profile/icons/edit-icon.png" alt="Edit">
                            </v-btn>
                        </template>
                        <profile-edit
                            v-else
                            :profile="profile"
                            v-slot:default="privateInformationProps"
                            @close-edit="editPrivateInformation = false"
                        >
                            <h3 class="profile-edit-form__title">Личная информация</h3>
                            <div class="profile-edit-form__radio-row">
                                <label for="childrenRadiogroup">Дети:</label>
                                <v-radio-group
                                    id="childrenRadiogroup"
                                    v-model="privateInformationProps.formData.children"
                                    class="profile-edit-form__radio-group"
                                    hide-details
                                >
                                    <v-radio
                                        label="Да"
                                        value="Есть дети"
                                    ></v-radio>
                                    <v-radio
                                        label="Нет"
                                        value="Нет детей"
                                    ></v-radio>
                                </v-radio-group>
                            </div>

                            <div class="profile-edit-form__select">
                                <label for="smokingSelect">Курение:</label>
                                <v-select
                                    id="smokingSelect"
                                    v-model="privateInformationProps.formData.smoking"
                                    :items="smokingList"
                                    outlined
                                    hide-details
                                    single-line
                                    :menu-props="{ bottom: true, offsetY: true, 'content-class': 'profile-edit-form-select' }"
                                ></v-select>
                            </div>

                            <div class="profile-edit-form__radio-row">
                                <label for="tatooRadiogroup">Татуировки:</label>
                                <v-radio-group
                                    id="tatooRadiogroup"
                                    v-model="privateInformationProps.formData.tatoo"
                                    class="profile-edit-form__radio-group"
                                    hide-details
                                >
                                    <v-radio
                                        label="Да"
                                        value="Есть татуировки"
                                    ></v-radio>
                                    <v-radio
                                        label="Нет"
                                        value="Нет татуировок"
                                    ></v-radio>
                                </v-radio-group>
                            </div>
                        </profile-edit>
                    </div>
                </template>

                <div class="profile-details-gifts">
                    <div class="profile-details-gifts__inner">
                        <h3 class="profile-details-gifts__title">Мои подарки</h3>
                        <span class="profile-details-gifts__icon">+2</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ProfileEdit from '@/components/profile/profile-edit-form/ProfileEditForm.vue';
import RegistrationInterests from '@/components/registration-form/RegistrationInterests.vue';

export default {
    components: {
        ProfileEdit,
        RegistrationInterests,
    },
    data() {
        return {
            editPurposeOfDating: false,
            editFinances: false,
            editSexualPreferences: false,
            editAboutMe: false,
            editAppearance: false,
            editPrivateInformation: false,
            editCommunicationFormat: false,
            editInterests: false,
            editRelationshipFormat: false,
        };
    },
    props: {
        profile: Object,
    },
    computed: {
        breastSizes() {
            return this.$store.state.profile.breastSizes;
        },
        heirColors() {
            return this.$store.state.profile.heirColors;
        },
        eyeColors() {
            return this.$store.state.profile.eyeColors;
        },
        smokingList() {
            return this.$store.state.profile.smokingList;
        },
        interestsList() {
            return this.$store.state.profile.interestsList;
        },
        relationshipFormatList() {
            return this.$store.state.profile.relationshipFormatList;
        },
    },
    methods: {

    },
};
</script>

