<template>
<div class="page__inner page__inner--registration">
    <!-- header -->
    <page-header></page-header>
    <!-- main -->
    <main class="main">
        <div class="registration-page">
            <div class="registration-page__inner">
                <v-container class="registration-page__container">
                    <v-row class="registration-page__row">
                        <v-col cols="12" sm="9" class="registration-page__col">
                            <registration-form
                                @setStep="stepHandler"
                            ></registration-form>
                        </v-col>
                    </v-row>
                </v-container>
            </div>
            <div class="registration-page__image d-none d-sm-block registration-page__image--desktop">
                <v-img
                    v-if="imagesDesktop[step]"
                    :src="require(`@/assets/${picsPath}/${imagesDesktop[step]}`)"
                    min-height="100%"
                ></v-img>
            </div>
            <div class="registration-page__image d-block d-sm-none registration-page__image--mobile">
                <v-img
                    v-if="imagesMobile[step]"
                    :src="require(`@/assets/${picsPath}/${imagesMobile[step]}`)"
                    min-height="100%"
                ></v-img>
            </div>
        </div>
    </main><!-- main -->
</div>
</template>


<script>
import PageHeader from '@/components/page-header/PageHeader.vue';
import RegistrationForm from '@/components/registration-form/RegistrationForm.vue';

export default {

    // components
    components: {
        PageHeader,
        RegistrationForm,
    },

    // data
    data() {
        return {
            step: 0,
            imagesDesktop: [
                'girls-step-0-bg.jpg',
                'girls-step-1-bg.jpg',
                'girls-step-2-bg.jpg',
                'girls-step-3-bg.jpg',
                'girls-step-4-bg.jpg',
                'girls-step-5-bg.jpg',
                'girls-step-6-bg.jpg',
                'girls-step-7-bg.jpg',
                'girls-step-8-bg.jpg',
                'girls-step-9-bg.jpg',
                'girls-step-10-bg.jpg',
                'girls-step-11-bg.jpg',
                'girls-step-12-bg.jpg',
                'girls-step-13-bg.jpg',
                'girls-step-14-bg.jpg',
            ],
            imagesMobile: [
                'girls-step-0-bg--mobile.jpg',
                'girls-step-1-bg--mobile.jpg',
                'girls-step-2-bg--mobile.jpg',
                'girls-step-3-bg--mobile.jpg',
                'girls-step-4-bg--mobile.jpg',
                'girls-step-5-bg--mobile.jpg',
                'girls-step-6-bg--mobile.jpg',
                'girls-step-7-bg--mobile.jpg',
                'girls-step-8-bg--mobile.jpg',
                'girls-step-9-bg--mobile.jpg',
                'girls-step-10-bg--mobile.jpg',
                'girls-step-11-bg--mobile.jpg',
                'girls-step-12-bg--mobile.jpg',
                'girls-step-13-bg--mobile.jpg',
                'girls-step-14-bg--mobile.jpg',
            ],
            picsPath: 'images/registration/bg',
        };
    },

    // computed
    computed: {

    },
    // methods (from modules folder)
    methods: {
        stepHandler(step) {
            this.step = step;
        },
    },
};
</script>


<style lang="scss">
    .page__inner--registration {
        .header {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 4000;
            @media #{map-get($display-breakpoints, 'xs-only')} {
                position: static;
            } /* ... - 757 */
        }
    }
    .registration-page {
        padding-top: 140px;
        overflow: hidden;
        position: relative;
        min-height: 100%;
        /* ... - 1279 */
        @media #{map-get($display-breakpoints, 'md-and-down')} {
            padding-top: 100px;
        } /* ... - 1279 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            display: block;
            padding-top: 0;
            overflow: auto;
        } /* ... - 757 */
        &__image {
            position: absolute;
            top: 0;
            right: 0;
            left: 50%;
            bottom: 0;
            z-index: 1;
            overflow: hidden;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                position: static;
            } /* ... - 757 */
        }
        &__inner {
            z-index: 2;
            display: flex;
            min-height: 100%;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                position: relative;
                min-height: auto;
                margin-bottom: -25px;
            } /* ... - 757 */
        }
        &__container {
            max-width: 1440px;
        }
        &__row {
            margin-top: 0;
        }
        &__container, &__row, &__col {
            min-height: 100%;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
</style>
