/* fonts */

/* app icons */
@font-face {
    font-family: "App Icons";
    font-style: normal;
    font-weight: 400;
    src: url("~@/assets/fonts/app-icons.woff") format("woff");
}


.ai,
.v-radio--icon .v-label:before,
.party-ticket__info-rules-item:before {
    font-family: "App Icons" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ai-select-arrow:before {
  content: "\e900";
}
.ai-chevron-double-right:before {
  content: "\e901";
}
.ai-close:before {
  content: "\e902";
}
.ai-right-arrow:before {
  content: "\e903";
}
.ai-female:before,
.v-radio--icon--female .v-label:before {
  content: "\e904";
}
.ai-male:before,
.v-radio--icon--male .v-label:before {
  content: "\e905";
}
.ai-warning:before,
.party-ticket__info-rules-item:before {
  content: "\e906";
}
.ai-clock:before {
  content: "\e907";
}
.ai-cocktail:before {
  content: "\e908";
}
.ai-enter-amount:before {
  content: "\e909";
}
.ai-location:before {
  content: "\e90a";
}
.ai-money-hand:before {
  content: "\e90b";
}
.ai-money-loupe:before {
  content: "\e90c";
}
