/* fonts */

/* gilroy regular */
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    src: url("~@/assets/fonts/gilroy-regular.woff") format("woff");
}

/* gilroy light */
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    src: url("~@/assets/fonts/gilroy-light.woff") format("woff");
}

/* gilroy semibold */
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 600;
    src: url("~@/assets/fonts/gilroy-semibold.woff") format("woff");
}

/* gilroy bold */
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    src: url("~@/assets/fonts/gilroy-bold.woff") format("woff");
}

/* benzin regular */
@font-face {
    font-family: "Benzin";
    font-style: normal;
    font-weight: normal;
    src: url("~@/assets/fonts/benzin-regular.woff") format("woff");
}


/* material design icons */
/* @font-face {
    font-family: "Material Design Icons";
    font-style: normal;
    font-weight: normal;
    src: url("~@/assets/fonts/material-design-icons.woff2") format("woff2"),
         url("~@/assets/fonts/material-design-icons.woff") format("woff");
} */


/* imports */
@import "./app-icons.scss";
@import "./material-design-icons.scss";
@import "./common.scss";
@import "./forms.scss";
@import "./buttons.scss";
@import "./inputs.scss";
@import "./selects.scss";
@import "./checkboxes.scss";
@import "./pagination.scss";
@import "./dialogs.scss";
