/* buttons */
.v-btn {
    border-radius: 0;
}
.v-btn:disabled {
    opacity: 0.5;
    cursor: default;
}

/* main btn */
.v-btn--main:not(.v-btn--round).v-size--default {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 75px;
    padding: 0 20px;
    border: 1px solid #1f1733;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    text-indent: 0;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.v-btn--main .v-btn__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.v-btn--main .v-btn__content:before {
    position: absolute;
    left: 6px;
    right: 6px;
    top: 6px;
    bottom: 6px;
    display: block;
    background: transparent url("~@/assets/images/btn-bg.png") no-repeat center center;
    background-size: cover;
    content: "";
}
.v-btn--main .v-btn__content span {
    position: relative;
}
.v-btn--main--small:not(.v-btn--round).v-size--default {
    width: 225px;
    height: 55px;
    font-size: 14px;
}
.v-btn--main--small .v-btn__content:before {
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
}
.v-btn--main--middle:not(.v-btn--round).v-size--default {
    width: 390px;
    height: 95px;
    font-size: 20px;
}
.v-btn--main--middle .v-btn__content:before {
    left: 8px;
    right: 8px;
    top: 8px;
    bottom: 8px;
}
.v-btn--main--large:not(.v-btn--round).v-size--default {
    width: 360px;
    height: 105px;
    font-size: 20px;
}
.v-btn--main--large .v-btn__content:before {
    left: 9px;
    right: 9px;
    top: 9px;
    bottom: 9px;
}


/* secondary btn */
.v-btn--secondary:not(.v-btn--round).v-size--default {
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #1f1733;
}


/* groups */
.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-group--left {
    justify-content: flex-start;
}
.btn-group--col {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
}
.btn-group--col .v-btn--secondary {
    margin-top: 40px;
}



/* ... - 1799 */
@media #{map-get($display-breakpoints, 'lg-and-down')} {

} /* ... - 1799 */


/* ... - 1679 */
@media only screen and (max-width: 1679px) {

    /* main btn */
    .v-btn--main--middle:not(.v-btn--round).v-size--default {
        width: 360px;
        height: 85px;
        font-size: 20px;
    }
    .v-btn--main--large:not(.v-btn--round).v-size--default {
        width: 340px;
        height: 95px;
        font-size: 20px;
    }
    .v-btn--main--middle .v-btn__content:before,
    .v-btn--main--large .v-btn__content:before {
        left: 6px;
        right: 6px;
        top: 6px;
        bottom: 6px;
    }


    /* secondary btn */
    .v-btn--secondary:not(.v-btn--round).v-size--default {
        font-size: 14px;
    }


    /* groups */
    .btn-group--col {
        padding-top: 10px;
    }
    .btn-group--col .v-btn--secondary {
        margin-top: 30px;
    }
} /* ... - 1679 */


/* ... - 1429 */
@media only screen and (max-width: 1429px) {

} /* ... - 1429 */


/* ... - 1279 */
@media #{map-get($display-breakpoints, 'md-and-down')} {

    /* main btn */
    .v-btn--main:not(.v-btn--round).v-size--default {
        height: 70px;
        margin-top: 5px;
    }
    /* groups */
    .btn-group--col {
        padding-top: 0;
    }
} /* ... - 1279 */


/* ... - 1013 */
@media #{map-get($display-breakpoints, 'sm-and-down')} {
    /* groups */
    .btn-group--col {
        padding-top: 5px;
    }
} /* ... - 1013 */


/* ... - 757 */
@media #{map-get($display-breakpoints, 'xs-only')} {

    /* main btn */
    .v-btn--main:not(.v-btn--round).v-size--default {
        width: 100%;
        max-width: 350px;
        height: 75px;
        font-size: 18px;
    }


    /* secondary btn */
    .v-btn--secondary:not(.v-btn--round).v-size--default {
        font-size: 18px;
    }


    /* groups */
    .btn-group--col .v-btn--secondary {
        margin-top: 40px;
    }
} /* ... - 757 */
