/* form */
.form-container {
    position: relative;
    background: rgb(76, 198, 248);
    background: -moz-linear-gradient(top, rgba(76, 198, 248, 1) 0%, rgba(0, 143, 216, 1) 55%, rgba(0, 141, 220, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(76, 198, 248, 1) 0%, rgba(0, 143, 216, 1) 55%, rgba(0, 141, 220, 1) 100%);
    background: linear-gradient(to bottom, rgba(76, 198, 248, 1) 0%, rgba(0, 143, 216, 1) 55%, rgba(0, 141, 220, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cc6f8', endColorstr='#008ddc', GradientType=0);
}
.form-inner {
    position: relative;
}
.form--data {
    width: 75%;
    flex-grow: 1;
    padding: 50px 60px 5px;
}
/* .form__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}
.form__row--d-none {
    display: none;
}
.form__row--mb--small {
    margin-bottom: 30px;
}
.form__row--mb--x-small {
    margin-bottom: 20px;
}
.form__row--mb--none {
    margin-bottom: 0;
}
.form__col {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 40px;
}
.form__col--padding--small {
    padding: 0 12px;
}
.form__col--100 {
    flex: 0 0 100%;
    max-width: 100%;
} */
.form__label {
    display: block;
    line-height: 1.4;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.form__label--small {
    font-size: 18px;
}
.form__label--dark {
    color: #2b396d;
}
.form__label--center {
    text-align: center;
}



/* media queries */

/* ... - 1799 */
@media #{map-get($display-breakpoints, 'lg-and-down')} {
    .form__label { font-size: 21px; }
    .form__label--small { font-size: 16px; }
} /* ... - 1799 */


/* ... - 1679 */
@media (max-width: 1679px) {
    .form--data { padding: 40px 55px 5px; }
    .form__label { font-size: 18px; }
    .form__col--padding--small { padding: 0 8px; }
    .form__label--small { font-size: 14px; }
} /* ... - 1679 */


/* ... - 1429 */
@media (max-width: 1429px) {
    .form--data { padding: 35px 50px 5px; }
    .form__label { font-size: 16px; }
    .form__label--small { font-size: 14px; }
} /* ... - 1429 */


/* ... - 1279 */
@media #{map-get($display-breakpoints, 'md-and-down')} {
    .form--data { padding: 30px 40px 5px; }
    .form__label { font-size: 14px; }
} /* ... - 1279 */


/* ... - 1013 */
@media #{map-get($display-breakpoints, 'sm-and-down')} {
    .form-container { overflow: hidden; width: 100%; padding: 40px 25px; margin: 0 auto; }
    .form--data { padding-left: 30px; padding-right: 30px; }
    .form__label { font-size: 14px; }
} /* ... - 1013 */


/* ... - 757 */
@media #{map-get($display-breakpoints, 'xs-only')} {
    .form-container { width: 94%; padding: 40px 25px; margin: 0 auto; }
    .form__label { margin-bottom: 5px; text-align: center; font-size: 20px; }
} /* ... - 757 */
