/* inputs */
$input-color: #222;
$input-color-inactive: #4f5778;
$input-border-color: #222;
$input-border-color-inactive: #bec2d4;

/* input: common data */
$input-height: 84px;
$input-padding-x: 10px;
$input-letter-spacing: 0.1em;
$input-font-family: "Benzin";
$input-font-size: 24px;

/* input: common data, lg and down */
$input-letter-spacing-lg: 0.07em;
$input-font-size-lg: 21px;

/* input: common data, 1679px and down */
$input-height-1679: 64px;
$input-font-size-1679: 18px;

/* input: common data, 1429px and down */
$input-height-1429: 54px;
$input-font-size-1429: 16px;

/* input: common data, md and down */
$input-height-md: 50px;
$input-font-size-md: 13px;

/* input: common data, xs */
$input-height-xs: 54px;
$input-font-size-xs: 16px;
