<template>
    <div class="profile-overview profile-overview--online">
        <h1 class="profile-overview__title">{{ name }}, {{ age }}</h1>
        <h2 class="profile-overview__subtitle">{{ address }}</h2>
        <p class="profile-overview__last-visit">Была на сайте вчера в 17:35</p>
        <div class="profile-overview__icons">
            <span class="profile-overview__icon-vip">Vip</span>
            <img
                class="profile-overview__verify-medal"
                src="@/assets/images/profile/icons/profile-verify-medal-icon.png"
                alt="Verify medal"
            />
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

        };
    },
    props: {
        profile: Object,
    },
    computed: {
        name() {
            return this.profile ? this.profile.name : '';
        },
        age() {
            return this.$calculateAge(this.profile.dateOfBirth);
        },
        address() {
            return this.profile ? this.profile.city : '';
        },
    },
    methods: {

    },
};
</script>


<style lang="scss" scoped>
.profile-overview {
    position: relative;
    margin-bottom: 15px;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        margin-bottom: 0;
        padding-left: 25px;
        padding-right: 25px;
    } /* ... - 757 */
    &__title {
        font-size: 48px;
        line-height: 1.1;
        text-transform: uppercase;
        ///* ... - 1279 */
        //@media #{map-get($display-breakpoints, 'md-and-down')} {
        //    margin-top: 35px;
        //} /* ... - 1279 */
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-top: 0;
            font-size: 36px;
            line-height: 40px;
        } /* ... - 757 */
    }
    &__subtitle {
        margin-bottom: 7px;
        font-family: $body-font-family;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.1;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 0;
            font-size: 24px;
        } /* ... - 757 */
    }
    &__last-visit {
        margin-bottom: 0 !important;
        font-size: 16px;
        color: #271f3b;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-bottom: 5px !important;
            font-size: 12px;
        } /* ... - 757 */
    }
    &__icons {
        position: absolute;
        top: -10px;
        right: 0;
        display: flex;
        align-items: center;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            position: static;
        } /* ... - 757 */
    }
    &__icon-vip {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 97px;
        height: 48px;
        margin-right: 10px;
        font-size: 22px;
        color: #ffffff;
        text-transform: uppercase;
        background-color: #008DDC;
        box-shadow: 0 2px 4.5px 0.5px rgba(45, 103, 167, 0.25);
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            width: 73px;
            height: 36px;
            margin-right: 5px;
        } /* ... - 757 */
    }
    &__verify-medal {
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            width: 45px;
            height: 45px;
        } /* ... - 757 */
    }

    &--online {
        .profile-overview__title {
            display: flex;
            align-items: center;
            &:after {
                content: '';
                display: block;
                width: 15px;
                height: 15px;
                margin-left: 40px;
                background-color: #22f000;
                border-radius: 50%;
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    width: 12px;
                    height: 12px;
                    margin-left: 30px;
                } /* ... - 757 */
            }
        }
    }
}
</style>
