<template>
    <div class="search-result">
        <div class="search-result__inner">
            <div v-if="items.length" class="search-result__items">
                <search-result-item
                    v-for="(item, index) in items"
                    :key="index"
                    :item="item"
                    :showTargetLabel="true"
                />
                <search-adv />
            </div>
            <div v-else class="search-result__items search-result__items--empty">
                <h1 class="mb-12">К сожалению,<br>Мы никого не нашли...</h1>
                <p class="mb-12">Измените выбранные параментры поиска и попробуйте снова!</p>
                <p>Удачи!</p>
            </div>
        </div>
    </div>
</template>

<script>
import SearchResultItem from '@/components/search/search-result/SearchResultItem.vue';
import SearchAdv from '@/components/search/search-adv/SearchAdv.vue';

export default {
    components: {
        SearchResultItem,
        SearchAdv,
    },
    data() {
        return {

        };
    },
    props: {
        items: Array,
    },
    computed: {

    },
    methods: {

    },
};
</script>

<style lang="scss" scoped>
.search-result {
    margin-top: 25px;
    /* ... - 757 */
    @media #{map-get($display-breakpoints, 'xs-only')} {
        padding-left: 15px;
        padding-right: 15px;
    } /* ... - 757 */
    &__inner {

    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: 75px;
        /* ... - 757 */
        @media #{map-get($display-breakpoints, 'xs-only')} {
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: 0;
        } /* ... - 757 */
        &--empty {
            display: block;
            padding-top: 150px;
            text-align: center;
            /* ... - 757 */
            @media #{map-get($display-breakpoints, 'xs-only')} {
                padding-top: 60px;
            } /* ... - 757 */
            h1 {
                font-size: 24px;
                text-transform: uppercase;
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    font-size: 16px;
                } /* ... - 757 */
            }
            p {
                font-size: 20px;
                font-weight: 100;
                color: #4f5778;
                /* ... - 757 */
                @media #{map-get($display-breakpoints, 'xs-only')} {
                    font-size: 14px;
                } /* ... - 757 */
            }
        }
    }
}
</style>
